@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 * Colors
 * 
 * http://infrastructure.drupal.org/drupal.org-style-guide/colour.html
 * moving to http://drupal.org/node/1051644
 * 
 * -------------------------------------
 * Primary colors
 * -------------------------------------
 * Dark Blue #0678BE rgb(6,120,190)
 * Dark Blue 50% #83BCDE
 * Dark Blue 40% #9CC9E5
 * Dark Blue 30% #B4D7EB
 * Dark Blue 20% #CDE4F2 rgb(205,228,242)
 * 
 * Light Blue #53B0EB rgb(83,176,235)
 * 
 * Lime Green #96BC44 rgb(150,188,68)
 * 
 * -------------------------------------
 * Secondary colors
 * -------------------------------------
 * Navy Blue #064771 rgb(6,71,113)
 * Light Navy Blue #0D7DC1 rgb(13,125,193)
 * Light Navy Blue 50% #9ECBE6 rgb(158,203,230)
 * 
 * Pale Yellow #F6F6F2 rgb(246,246,242)
 * Light Yellow #E6FCB6 rgb(230,252,182)
 * 
 * Gray #9D9D93 rgb(157,157,147)
 * Black #000 rgb(0,0,0)
 * 
 * -------------------------------------
 * Not officially listed, but found prototypes
 * -------------------------------------
 * Yellow/Green (border, th bg) #EAEAE1
 * Yellow/Green (background) #F9FFEC
 * 
 * Light Red (border) #EBCCCC
 * Light Red (background) #F6E8E8
 * 
 * -------------------------------------
 * Typography
 * -------------------------------------
 * Gray body text #222
 * Header h1 #000
 * Gray headers h2-h4 #555
 * Gray headers h5-6 #222
 * Blue links #0678BE
 * 
 * -------------------------------------
 * Colors not specified in style guide
 * -------------------------------------
 * Gray #666
 * Gray #nav-content border #E1E1DB
 * 
 * Blue #nav-header BG #044771
 * 
 * -------------------------------------
 * Help, status, and messages
 * -------------------------------------
 * Help:
 * Blue: Dark Blue 20%
 * 
 * Asterisk:
 * Orange: rgb(227,144,27) NOT PART OF PALETTE
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 * Colors
 * 
 * http://infrastructure.drupal.org/drupal.org-style-guide/colour.html
 * moving to http://drupal.org/node/1051644
 * 
 * -------------------------------------
 * Primary colors
 * -------------------------------------
 * Dark Blue #0678BE rgb(6,120,190)
 * Dark Blue 50% #83BCDE
 * Dark Blue 40% #9CC9E5
 * Dark Blue 30% #B4D7EB
 * Dark Blue 20% #CDE4F2 rgb(205,228,242)
 * 
 * Light Blue #53B0EB rgb(83,176,235)
 * 
 * Lime Green #96BC44 rgb(150,188,68)
 * 
 * -------------------------------------
 * Secondary colors
 * -------------------------------------
 * Navy Blue #064771 rgb(6,71,113)
 * Light Navy Blue #0D7DC1 rgb(13,125,193)
 * Light Navy Blue 50% #9ECBE6 rgb(158,203,230)
 * 
 * Pale Yellow #F6F6F2 rgb(246,246,242)
 * Light Yellow #E6FCB6 rgb(230,252,182)
 * 
 * Gray #9D9D93 rgb(157,157,147)
 * Black #000 rgb(0,0,0)
 * 
 * -------------------------------------
 * Not officially listed, but found prototypes
 * -------------------------------------
 * Yellow/Green (border, th bg) #EAEAE1
 * Yellow/Green (background) #F9FFEC
 * 
 * Light Red (border) #EBCCCC
 * Light Red (background) #F6E8E8
 * 
 * -------------------------------------
 * Typography
 * -------------------------------------
 * Gray body text #222
 * Header h1 #000
 * Gray headers h2-h4 #555
 * Gray headers h5-6 #222
 * Blue links #0678BE
 * 
 * -------------------------------------
 * Colors not specified in style guide
 * -------------------------------------
 * Gray #666
 * Gray #nav-content border #E1E1DB
 * 
 * Blue #nav-header BG #044771
 * 
 * -------------------------------------
 * Help, status, and messages
 * -------------------------------------
 * Help:
 * Blue: Dark Blue 20%
 * 
 * Asterisk:
 * Orange: rgb(227,144,27) NOT PART OF PALETTE
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Global grid settings
 */
.container-12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.grid-1 {
  width: 7.229%;
  float: left;
  margin-right: 1.205%;
  display: inline;
}

.grid-2 {
  width: 15.663%;
  float: left;
  margin-right: 1.205%;
  display: inline;
}

.grid-3 {
  width: 24.096%;
  float: left;
  margin-right: 1.205%;
  display: inline;
}

.grid-4 {
  width: 32.53%;
  float: left;
  margin-right: 1.205%;
  display: inline;
}

.grid-5 {
  width: 40.964%;
  float: left;
  margin-right: 1.205%;
  display: inline;
}

.grid-6 {
  width: 49.398%;
  float: left;
  margin-right: 1.205%;
  display: inline;
}

.grid-7 {
  width: 57.831%;
  float: left;
  margin-right: 1.205%;
  display: inline;
}

.grid-8 {
  width: 66.265%;
  float: left;
  margin-right: 1.205%;
  display: inline;
}

.grid-9 {
  width: 74.699%;
  float: left;
  margin-right: 1.205%;
  display: inline;
}

.grid-10 {
  width: 83.133%;
  float: left;
  margin-right: 1.205%;
  display: inline;
}

.grid-11 {
  width: 91.566%;
  float: left;
  margin-right: 1.205%;
  display: inline;
}

.omega {
  float: right;
  margin-right: 0;
  #margin-left: -0.667em;
  display: inline;
}

#header-left {
  width: 57.831%;
  float: left;
  margin-right: 1.205%;
  display: inline;
  padding-right: 8.434%;
}

#header-right {
  width: 40.964%;
  float: right;
  margin-right: 0;
  #margin-left: -0.667em;
  display: inline;
}

#nav-masthead {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -0.667em;
  display: inline;
}

#main {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -0.667em;
  display: inline;
}

.one-sidebar #main {
  width: 66.265%;
  float: left;
  margin-right: 1.205%;
  display: inline;
}

#aside {
  width: 32.53%;
  float: right;
  margin-right: 0;
  #margin-left: -0.667em;
  display: inline;
}

.grid-footer {
  width: 18.841%;
  float: left;
  margin-right: 1.449%;
  display: inline;
}

.grid-footer.omega {
  width: 18.841%;
  float: right;
  margin-right: 0;
  #margin-left: -0.667em;
  display: inline;
}

#getting-started ~ div {
  width: 24.096%;
  float: left;
  margin-right: 1.205%;
  display: inline;
}

#getting-started ~ div:last-child {
  width: 24.096%;
  float: right;
  margin-right: 0;
  #margin-left: -0.667em;
  display: inline;
}

#choose-drupal,
#sites-with-drupal {
  width: 32.53%;
  float: left;
  margin-right: 1.205%;
  display: inline;
}

#develop-with-drupal {
  width: 32.53%;
  float: right;
  margin-right: 0;
  #margin-left: -0.667em;
  display: inline;
}

#front-drupal-stats {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -0.667em;
  display: inline;
}

#community-map,
#community-updates {
  width: 49.398%;
  float: left;
  margin-right: 1.205%;
  display: inline;
}

#community-updates {
  float: right;
  margin-right: 0;
  #margin-left: -0.667em;
  display: inline;
}

#content .getting-involved,
#content .community-spotlight {
  width: 49.091%;
  float: left;
  margin-right: 1.818%;
  display: inline;
}

#content .community-spotlight {
  float: right;
  margin-right: 0;
  #margin-left: -0.667em;
  display: inline;
}

#dashboard .column {
  width: 32.53%;
  float: left;
  margin-right: 1.205%;
  display: inline;
}

#dashboard .column:nth-child(3) {
  float: right;
  margin-right: 0;
  #margin-left: -0.667em;
  display: inline;
}

#profile .profile {
  width: 49.091%;
  float: left;
  margin-right: 1.818%;
  display: inline;
}

#profile .profile:nth-child(even) {
  float: right;
  margin-right: 0;
  #margin-left: -0.667em;
  display: inline;
}

.profile dl dt {
  width: 23.636%;
  float: left;
  margin-right: 1.818%;
  display: inline;
}

.profile dl dd {
  width: 74.545%;
  float: right;
  margin-right: 0;
  #margin-left: -0.667em;
  display: inline;
}

/**
 * Layout and placement classes
 */
.clear {
  clear: both;
}

.clearleft {
  clear: left;
}

.clearright {
  clear: right;
}

.right {
  clear: right;
  float: right;
  margin: 0 0 0.692em 20px;
}

.left {
  clear: left;
  float: left;
  margin: 0 20px 0.692em 0;
}

img.no-clear {
  clear: none;
}

.drupalorg-3col-grid table.views-view-grid > tbody > tr > td {
  width: 300px;
  padding: 0 10px;
}

.drupalorg-3col-grid table.views-view-grid > tbody > tr > td.col-1 {
  padding-left: 0;
}

.drupalorg-3col-grid table.views-view-grid > tbody > tr > td.col-3 {
  padding-right: 0;
}

/**
 * Align views grid style to the grid.
 *
 * Add 2 CSS classes:
 * - drupalorg-grid-N, N is the width of each column.
 * - drupalorg-N-col, N is the number of columns.
 */
.drupalorg-grid-2 table.views-view-grid > tbody > tr > td {
  width: 140px;
  padding: 0 10px;
}

.drupalorg-grid-4 table.views-view-grid > tbody > tr > td {
  width: 300px;
  padding: 0 10px;
}

.drupalorg-grid-2 table.views-view-grid > tbody > tr > td.col-1,
.drupalorg-grid-4 table.views-view-grid > tbody > tr > td.col-1 {
  padding-left: 0;
}

.drupalorg-2-col table.views-view-grid > tbody > tr > td.col-2,
.drupalorg-3-col table.views-view-grid > tbody > tr > td.col-3,
.drupalorg-4-col table.views-view-grid > tbody > tr > td.col-4 {
  padding-right: 0;
}

/**
 * About page
 */
#about-features h3 {
  font: bold 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

#about-features h3 a {
  display: block;
  padding: 4px 0 0 70px;
  min-height: 50px;
}

.node-section {
  border-bottom: 1px solid #D8D8D2;
  padding-bottom: 0.692em;
}

.comment {
  margin-top: 0.692em;
  border-top: 1px solid #D8D8D2;
}

.node-footer-section h3 {
  margin: 1em 0 .5em;
}

.aboutsmall {
  color: #555;
  font-size: 0.92307em;
  /* 0.92307 * 13px = 12px */
}

#content .aboutsmall ul {
  list-style: none;
  margin-bottom: 1.5em;
  padding-left: 0;
}

.aboutsmall dd {
  padding-left: 0;
}

.aboutsmall h3 {
  border-top: 1px solid #DDD;
  margin-top: 1em;
  padding-top: 1em;
}

.aboutsmall .link-button {
  float: left;
  margin: 1em 0;
}

.aboutsmall strong,
.aboutsmall dt {
  color: #555;
}

/**
 * Aggregator Promote module
 */
.aggregator-promote-link {
  text-align: center;
  width: 120px;
  padding: 2px 0;
}

.aggregator-promote-link a {
  color: #96BC44;
}

.aggregator-promote-link:hover {
  background-color: #96BC44;
}

.aggregator-promote-link a:hover {
  color: #FFF;
  text-decoration: none;
}

/**
 * Autocomplete
 */
#autocomplete {
  background-color: #FFF;
}

#content #autocomplete ul {
  padding-left: 5px;
}

#content #autocomplete ul li {
  list-style-type: none;
}

/**
 * Blocks
 */
#aside .block {
  background: #F6F6F2;
}

#aside .block-inner {
  padding: 1em;
}

.profile .item-list li,
#aside .block .item-list li,
#homebox .block .menu li,
#homebox .block .item-list li {
  line-height: 1.2em;
  margin: 0 0 0.6em 0;
  padding: 0;
  list-style-image: none;
}

.front .block-content h4 {
  clear: both;
  font-weight: bold;
}

.front-get-started {
  border: 1px solid #DDD;
  border-width: 1px 0;
  padding: 20px 0;
  text-align: center;
}

/* For giant numbers, such as the Association’s campaign block. */
.giant {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 5.538em;
  /* × 13 = 72px */
  line-height: 1.25em;
  /* × 72 = 90px, 5 lines */
  text-align: center;
}

.front #content ul {
  list-style: none;
  padding-left: 0;
}

#front-drupal-stats {
  margin-top: 1.846em;
  height: 6.923461em;
  /* 72px */
  padding: 1.385em 0 0 64px;
}

#front-drupal-stats .inner {
  border-top: 1px solid #EEE;
  color: #9D9D93;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.846em;
  /* 13px = 24px */
  font-weight: lighter;
  line-height: 1.5em;
  padding-top: 5px;
  padding-left: 16px;
}

#front-drupal-stats em {
  font-style: normal;
  color: #55554A;
}

/* project page blocks */
#block-project-5 p.date {
  color: #666;
  font-size: 0.92307em;
  /* 0.92307 * 13px = 12px */
}

/* Project page issues edit */
tr.odd .form-item,
tr.even .form-item {
  display: inline-block;
}

/**
 * Book pages
 */
.book-navigation {
  clear: both;
}

.book-navigation ul.menu,
.block .book-navigation ul.menu {
  border-top: 1px solid #E1E1DB;
  display: block;
  padding: 1em 0 0 3em;
}

.book-navigation .page-links {
  border-top: 1px solid #E1E1DB;
  border-bottom: 1px solid #E1E1DB;
  margin-bottom: 20px;
}

/**
 * Community & Support
 */
/**
 * Community & Support
 * Ads
 */
#page .block-google_admanager {
  background-color: #f6f6f2;
  line-height: inherit;
}

.gam-holder {
  margin: 0;
}

.view-drupalorg-marketplace-hosting .gam-holder .text {
  /* http://drupal.org/hosting */
  margin: 0 0 1.385em 0;
}

.view-drupalorg-marketplace-hosting .Silver {
  font-size: 1.077em;
  font-weight: bold;
}

.gam-prefix,
.gam-suffix {
  padding: 12px;
}

.gam-suffix {
  color: #666;
  font-size: 0.92307em;
  /* 0.92307 * 13px = 12px */
}

.gam-suffix a {
  color: #000;
}

.gam-holder .text {
  background-color: #f6f6f2;
  width: 274px;
  line-height: 1.5em;
  padding: 13px;
}

.gam-holder .text a {
  font-weight: bold;
}

#aside .block-google_admanager {
  margin: 12px 0 12px 0;
}

#aside .block-google_admanager .block-inner {
  padding: 0;
}

/**
 * Community & Support
 * Drupal Association
 */
/* Association membership benefits */
.big {
  font-size: 1.385em;
  /* 18 / 13 */
  line-height: 1.5em;
}

/* Association store */
.uc-price-display {
  text-align: right;
  font-size: 1em;
  font-weight: normal;
  padding: 0;
}

.field-field-assoc-level-notes {
  font-style: italic;
}

fieldset {
  border: 1px solid #ddd;
  padding: 0.692em;
  margin: 0 0 1.384em 0;
}

legend {
  padding: 0 0.25em;
}

/* Ubercart has too many borders. */
.solid-border,
.cart-review,
#cart-form-buttons,
#cart-form-products,
#checkout-form-bottom {
  padding: 0;
  border: none;
}

.node-type-association_sponsorship_level.diamond,
.node-type-association_sponsorship_level.platinum,
.node-type-association_sponsorship_level.gold,
.node-type-association_sponsorship_level.silver,
.node-type-association_sponsorship_level.bronze {
  background: #f6f6f2;
  padding: 1em;
}

.node-type-association_sponsorship_level.diamond h2,
.node-type-association_sponsorship_level.platinum h2,
.node-type-association_sponsorship_level.gold h2,
.node-type-association_sponsorship_level.silver h2,
.node-type-association_sponsorship_level.bronze h2 {
  margin-top: 0;
}

.jcarousel-clip {
  overflow: hidden;
}

/**
 * Community & Support
 * Books Ad
 */
#block-google_admanager-89caa04f148acdc52719b3d001e487c4 .gam-prefix h3 {
  margin-top: 0;
}

#block-google_admanager-89caa04f148acdc52719b3d001e487c4 .gam-prefix p {
  margin-bottom: 0;
}

#google_ads_div_Security_books_ad_container img,
#google_ads_div_Redesign_books_ad_container img {
  padding: 0 12px;
}

/* Are we celebrating? */
/* nope :(
.front #header-screen {
  background: url(../images/fireworks.png) 5% 0 no-repeat;
}
*/
.link-button span.celebrating {
  display: inline-block;
  margin-left: -1em;
  padding: 0 0 0 1em;
  background: url(../images/fireworks-link-button.png) 0 0 no-repeat;
}

.color-swatch {
  width: 140px;
  height: 6.923em;
}

/**
 * Community & Support
 * Front page
 */
.front-current-activity {
  float: left;
  margin-bottom: 1.385em;
}

.front-current-activity:first-child {
  margin-right: 1.5em;
}

.front-current-activity td {
  padding: 0;
  white-space: nowrap;
}

.front-current-activity td:first-child {
  text-align: right;
  padding-right: 0.4em;
}

.front-current-activity th {
  background: transparent;
  font-weight: normal;
  border-bottom: none;
  padding: 0;
}

body.front .gam-holder {
  margin: 1.385em 0 0 0;
}

/**
 * Community & Support
 * Getting Invoved
 */
.view-drupalorg-community-spotlight.view-display-id-block_1 .node-footer .links {
  display: block;
}

.view-drupalorg-community-spotlight.view-display-id-block_1 .node-footer .separator {
  display: none;
}

#block-drupalorg_search-drupalorg_search_users form,
#block-drupalorg_search-drupalorg_search_users .form-item {
  margin: 0;
}

#block-drupalorg_search-drupalorg_search_users .form-text {
  width: 150px;
}

/**
 * Community & Support
 * Marketplace
 */
.view-drupalorg-organizations .view-header h3 {
  margin-top: 0;
}

#content .view-drupalorg-organizations .view-header ul {
  padding-left: 0;
  list-style-type: none;
}

/* hide JS actions */
.view-drupalorg-organizations .view-header .show-link,
.view-drupalorg-organizations .view-header .hide-link {
  display: none;
}

.node-type-organization .website img {
  display: block;
}

#block-drupalorg_handbook-about-page dd,
#content .node-type-organization dd {
  padding-left: 0;
}

/**
 * Search help form
 */
#drupalorg-search-help-form {
  background-color: #F6F5F1;
  margin-bottom: 20px;
  padding: 20px 20px 15px 20px;
}

#drupalorg-search-help-form label {
  font-size: 1.61538em;
  /* 1.61538 * 13 = 21px */
  font-weight: normal;
  margin: 0 0 1em 0;
}

#drupalorg-search-help-form .form-text {
  background: white url("../images/throbber-large.gif") 231px 8px no-repeat;
  border: 2px solid #c8c9c4;
  color: #858585;
  font-size: 1.61538em;
  /* 1.61538 * 13 = 21px */
  height: 35px;
  /* for IE7 & 8 style consistency */
  margin: 0 0 5px 0;
  padding: 0 30px 0 5px;
  width: 221px;
  /* 221+30+5+2+2 = 260 */
}

#drupalorg-search-help-form .form-text.throbbing {
  background: white url("../images/throbber-large.gif") 231px -92px no-repeat;
}

/**
 * Community & Support
 * Search Results
 */
#edit-search-term-results p.help-result-text {
  font-weight: bold;
  margin-left: 10px;
}

#edit-search-term-results ul {
  list-style-type: none;
  margin: 0 0 5px 0;
  padding: 0;
}

#edit-search-term-results ul a {
  font-weight: bold;
}

/* selector and colors for the search score when ready
#edit-search-term-results li .help-result-score-X
  background-color: #6ab939;
  background-color: #F18322;
  background-color: #AD0F1E;
*/
#edit-search-term-results li .help-result-value {
  border-top: 1px solid #E1E1DB;
  line-height: 2em;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 10px;
}

#recent-activity ul {
  margin-left: 0;
  padding-left: 0;
}

/**
 * Comments
 */
.node-type-project-issue .comment-inner {
  margin-left: 40px;
}

.node-type-project-issue #content h3.comment-title {
  float: left;
  font-size: 1.1538em;
  margin-left: -40px;
}

.node-type-project-issue #content .comment .submitted {
  padding-top: 1.4em;
}

.node-type-project-issue #content .comment .submitted a {
  font-size: 1.2307em;
}

.comment .new {
  background-color: #E6FCB6;
  padding: 1px 6px 2px;
}

.comment .picture {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.node .picture {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.indented {
  margin-left: 30px;
}

.indented .indented .indented .indented {
  /* stop indenting comments after four levels of indention */
  margin-left: 0;
}

/**
 * Content
 */
#content ul, #tinymce ul,
ol,
dd {
  margin-bottom: 0.692em;
  padding-left: 2em;
  /* @todo: List items align, but bullets and numbers do not */
}

dl.flush-left dd {
  padding-left: 0;
}

#content [dir=rtl] ul,
[dir=rtl] ol {
  padding-left: 0;
  padding-right: 2em;
}

ol {
  list-style: decimal outside;
}

.block ol {
  list-style: none;
  padding-left: 0;
}

#content .profile ul,
#homebox ul,
#homebox ol {
  margin-bottom: 0;
  padding-left: 0;
}

#content ul, #tinymce ul {
  list-style-type: disc;
}

#content .item-list ul.flat,
#content .item-list ul.links,
#content .item-list ul.flat li,
#content .item-list ul.links li,
#content ul.flat,
#content ul.links,
#content ul.flat li,
#content ul.links li {
  list-style-type: none;
  list-style-image: none;
  margin-left: 0;
  padding-left: 0;
}

#content .node,
#aggregator .feed-item {
  margin-bottom: 1.385em;
  /* * 13 = 18px */
}

#content .sticky {
  background-color: #F6F6F2;
  padding: 10px;
}

#content .sticky h2.node-title {
  margin-top: 0;
}

#content .comment h3.comment-title {
  word-spacing: 0.2em;
  color: #888;
  margin-bottom: 0;
}

#content .comment h3.comment-title a {
  word-spacing: normal;
}

#content .submitted,
#content .modified,
#aggregator .feed-item-meta,
#content .comment .links {
  color: #666;
  font-size: 0.923em;
  /* 0.92307 * 13px = 12px */
  line-height: 1.5em;
  /* * 12px = 18px */
  margin-bottom: 0.75em;
}

#content .comment .links {
  float: right;
}

#aggregator .feed-item-date {
  font-style: italic;
}

body.page-node #content .tabs {
  float: right;
}

body.page-node #content .tabs ul.tabs li {
  float: left;
  display: block;
  font-size: 0.92307em;
  /* 0.92307 * 13px = 12px */
  margin: 0 5px;
  padding: 1px 4px;
  text-decoration: none;
}

body.page-node #content .tabs ul.tabs li.active {
  display: none;
}

.feed-source,
#content .node-footer,
#aggregator .feed-item-categories,
.user-signature,
.field-field-assoc-benefit-restrictions,
#block-drupalorg_handbook-license {
  color: #666;
  font-size: 0.92307em;
  /* 0.92307 * 13px = 12px */
}

#block-drupalorg_handbook-meta-sidebar .page-status {
  padding: 0.692em;
}

#block-drupalorg_handbook-meta-sidebar .page-ok {
  background-color: #D4EFCC;
}

#block-drupalorg_handbook-meta-sidebar .page-needs-work {
  background-color: #FFE69F;
}

#block-drupalorg_handbook-meta-sidebar .page-major-problem {
  background-color: #EBCCCC;
}

/**
 * CVS lists
 */
#cvs ul {
  margin: 0 0 0.5em 0;
  padding: 0;
}

#cvs ul,
#cvs li {
  list-style: none;
}

#cvs li div.title {
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  /* 1 * 13  = 13 */
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

#cvs li div.files {
  margin: 0 0 0.5em 0;
}

#cvs li div.description {
  border-bottom: 1px solid #E1E1DB;
  margin: 0 0 2em 0;
  padding: 0 0 1em 0;
}

/* CVS Maintainers block */
#block-versioncontrol_project-project_maintainers div.vc-commit-times,
#block-cvs-cvs_project_maintainers div.cvs-commit-times {
  color: #666;
  font-size: 0.92307em;
  /* 0.92307 * 13px = 12px */
  margin-bottom: 0.5em;
}

#block-versioncontrol_project-project_maintainers span.vc-commits,
#block-cvs-cvs_project_maintainers span.cvs-commits {
  white-space: nowrap;
}

/* adding back padding removed in reset.css for menu blocks */
.block ul.menu {
  padding: 0 0 0.25em 1em;
}

#block-user-1 .h2 {
  overflow: hidden;
}

/**
 * Dashboard overrides
 */
#homebox .homebox-column {
  background: none;
  margin: 0;
  padding: 0;
}

#homebox .homebox-portlet {
  border: 0;
  margin: 0 0 20px;
}

#homebox .homebox-placeholder {
  margin: 0 0 14px;
}

#homebox .homebox-portlet .homebox-portlet-inner {
  background-color: #F6F6F2;
  border: 0;
}

#homebox .portlet-config {
  padding: 0 10px 10px;
}

#homebox .portlet-content {
  padding: 10px;
}

#homebox .homebox-portlet .portlet-header {
  background: none;
  font-size: 1.38461em;
  /* 1.38461 * 13 = 18px */
  padding: 10px 10px 8px;
}

#homebox .homebox-portlet .portlet-minus,
#homebox .homebox-portlet .portlet-maximize {
  display: none;
}

#homebox .homebox-portlet .portlet-icon {
  margin-top: 4px;
  margin-left: 4px;
}

#homebox-buttons,
#homebox-add {
  margin-bottom: 10px;
}

#homebox-add a.restore {
  display: inline;
  height: auto;
  padding: 0;
  width: auto;
}

#drupalorg-set-home a,
html.js #drupalorg-set-home input {
  display: none;
}

html.js #drupalorg-set-home a {
  display: inline;
}

#drupalorg-set-home .ahah-progress {
  float: right;
}

/**
 * Definition lists
 */
dl {
  margin-bottom: 0.692em;
}

dt {
  font-weight: bold;
  margin: 0.692em 0 0;
}

dl.documentation {
  margin-bottom: 0;
}

dl.documentation dt {
  font-size: 1.23076em;
  /* 1.23076 * 13 = 16px */
  margin-top: 0.563em;
}

/**
 * Things we made
 * (now labeled "Sites Made with Drupal" on homepage)
 */
div.things-we-made-wrapper {
  width: 300px;
  overflow: hidden;
  margin: 0 0 1em 0;
}

/**
 * HTML elements
 */
blockquote {
  background: white url("../images/blockquote-66.png") no-repeat 0 0;
  margin: 1.384em 40px 1.384em 20px;
  padding-left: 30px;
}

acronym {
  border-bottom: 1px dotted #666;
}

sub {
  font-size: 0.923em;
  /* * 13 = 12pt */
  text-align: sub;
}

small {
  font-size: 0.923em;
  /* * 13 = 12pt */
}

/**
 * Footer
 */
#footer {
  background-color: #F6F6F2;
  font-size: 0.92307em;
  /* 0.92307 * 13px = 12px */
  line-height: 1.5em;
  padding: 30px 0 20px;
}

#footer-region li.first a {
  color: #222;
}

#footer-region a,
#footer-region .grid-footer:hover li.first a,
#footer-region li.first a:hover {
  color: #0678BE;
}

#block-block-60,
.region-footer .block {
  border-top: 1px solid #E2E2DF;
  margin-top: 50px;
  padding-top: 10px;
}

#block-block-60 .block-inner,
.region-footer .block .block-inner {
  color: #666;
  text-align: center;
}

/**
 * Forms
 */
/* Keep form elements on the baseline grid. */
input[type="checkbox"],
input[type="radio"] {
  margin: 0 0.5ex;
}

.form-item,
.form-checkboxes,
.form-radios {
  margin-top: 0;
  margin-bottom: 0.692em;
}

.form-checkboxes .form-item,
.form-radios .form-item {
  margin: 0.25em 0;
}

/**
 * Forums
 */
.forum-topic-navigation {
  margin-bottom: 10px;
}

/**
 * Framework
 */
#column-left {
  z-index: 1;
}

#content-top-region,
#content,
#content-bottom-region,
#aside-region {
  margin-bottom: 13px;
}

#header,
#footer,
#page {
  min-width: 960px;
}

#header {
  background-color: #56B3E6;
}

#header-content {
  position: relative;
  z-index: 2;
  /* overflow: hidden; */
  /* @todo: don't think we can do this here. it cuts off a few pixels of text on the left side */
}

/**
 * Front page
 */
.front #page {
  margin-top: 1.385em;
}

#organization-map,
.homepage-map {
  position: relative;
}

.homepage-map {
  background: url(../images/world-map.png);
  height: 250px;
  width: 450px;
  white-space: nowrap;
}

#organization-map {
  background: url(../images/world-map-4.png);
  width: 300px;
  height: 152px;
}

#organization-map .pin,
.homepage-map .homepage-pin {
  position: absolute;
  width: 10px;
  height: 10px;
  margin: 0 0 -5px -5px;
}

.homepage-map .homepage-pin {
  display: none;
}

#organization-map .latitude,
#organization-map .longitude,
.homepage-map .latitude,
.homepage-map .longitude {
  display: none;
}

.homepage-map .homepage-pin .content {
  background: #fff;
  position: absolute;
  border: 1px solid #bfbfba;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 1px 4px;
  bottom: 11px;
}

.homepage-map .homepage-pin-east .content {
  right: -40px;
}

.homepage-map .homepage-pin-west .content {
  left: -40px;
}

.homepage-map .homepage-pin .content:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 12px;
  height: 10px;
  bottom: -10px;
  background: url(../images/small-icons.png) no-repeat 0 -734px;
}

.homepage-map .homepage-pin-east .content:after {
  right: 39px;
}

.homepage-map .homepage-pin-west .content:after {
  left: 37px;
}

.homepage-map .drupalcon a {
  font-weight: bold;
  color: #15499f;
}

/**
 * Graphical tags
 *
 * Wraps tags in rounded corners.
 * Used in source sites tags on the news page, feature tags, etc.
 * 
 * Tags should be inline and wrapped like this:
 * 
 * <span class="image-tags">
 * <span><a href="#">Tag</a></span>
 * </span>
 * 
 * The tags can have any color; make sure to give the
 * second span the background-color you want
 */
.image-tags span {
  background-color: #49A9E4;
  display: inline-block;
  font-size: .6em;
  line-height: 18px;
  padding-left: 4px;
}

.image-tags span a {
  color: #FFF;
  display: inline-block;
  line-height: 18px;
  padding-right: 4px;
}

.source-tags .source-tag-688 {
  /* Planet Drupal */
  background-color: #9FCA44;
}

.source-tags .source-tag-689 {
  /* Drupal Association */
  background-color: #EEE;
}

.source-tags .source-tag-689 a {
  color: #666;
}

.image-tags span:hover {
  background-color: #044771;
}

.image-tags span:hover a {
  text-decoration: none;
}

.source-tags span.source-tag-688:hover {
  /* Planet Drupal */
  background-color: #688A1F;
}

.source-tags span.source-tag-689:hover {
  /* Drupal Association */
  background-color: #999;
}

.source-tags .source-tag-689 a:hover {
  color: #FFF;
}

.feature-tags span {
  background-color: #EBE3A4;
  color: #000;
}

.feature-tags span a {
  color: #000;
}

.feature-tags span:hover {
  background-color: #E9B538;
}

.feature-tags span:hover a {
  color: #FFF;
}

h2 .image-tags span {
  margin-left: 1em;
}

/**
 * Git Styles
 */
#content .view-commitlog-commit-items ul,
#content .view-vc-git-project-global-commits ul,
#content .view-vc-git-project-user-commits ul,
#content .view-vc-git-project-commit-view ul {
  padding-left: 0;
}

.view-commitlog-commit-items ul,
.view-vc-git-project-user-commits ul,
.view-vc-git-project-commit-view ul {
  margin: 0 0 0.5em 0;
  padding: 0;
}

.view-commitlog-commit-items li div.title,
.view-vc-git-project-global-commits li div.title,
.view-vc-git-project-user-commits li div.title,
.view-vc-git-project-commit-view li div.title {
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  /* 1 * 13  = 13 */
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

.view-vc-git-project-global-commits li .views-field-path,
.view-commitlog-commit-items li .views-field-path,
.view-vc-git-project-user-commits li .views-field-path,
.view-vc-git-project-commit-view li .views-field-path {
  margin: 0 0 0.5em 10px;
  clear: both;
  padding-bottom: 3px;
  border-bottom: 1px dashed #E1E1DB;
}

.view-commitlog-commit-items li .field-content pre,
.view-vc-git-project-global-commits li .field-content pre,
.view-vc-git-project-user-commits li .field-content pre,
.view-vc-git-project-commit-view li .field-content pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 5px;
  margin: 5px 0 20px 0;
  border-bottom: 1px solid #E1E1DB;
}

.view-commitlog-commit-items .field-content,
.view-vc-git-project-global-commits .field-content,
.view-vc-git-project-user-commits .field-content,
.view-vc-git-project-commit-view .field-content {
  margin: 0 0 2em 0;
  padding: 0 0 1em 0;
}

.view-commitlog-commit-items .attribtution,
.view-vc-git-project-global-commits .attribtution,
.view-vc-git-project-user-commits .attribtution,
.view-vc-git-project-commit-view .attribtution {
  padding-bottom: 10px;
}

.views-field-visual-diffstat {
  float: right;
  margin-top: -25px;
}

/*
 * Short-term change until we can get hover-text
 * working on the changed lines text
 */
.views-field-changed-lines {
  display: none;
}

/**
 * Header
 */
/* Name and logo */
h1#site-name {
  margin: 0;
}

#site-name a {
  display: block;
  height: 63px;
  overflow: hidden;
  text-indent: -999em;
  width: 181px;
}

#site-name a:focus,
#site-name a:active {
  outline: #FFF dotted thin;
}

#header-left h2 {
  color: #FFF;
  font-size: 1.6153em;
  /* 1.6153 * 13px = 21px */
  font-weight: lighter;
  margin: 24px 0 12px 0;
}

#header-left-inner a {
  color: #fff;
}

.standfirst {
  font-size: 1em;
  line-height: 1.538461em;
  padding-bottom: 1.538461em;
  margin-top: 0.5em;
  overflow: auto;
}

#header-right-inner {
  margin-top: 46px;
}

#page {
  margin-bottom: 2.077em;
  margin-top: 1.385em;
}

#page-subtitle {
  margin-top: 0;
}

.breadcrumb {
  padding-bottom: 0;
}

#page-tools {
  margin: 0.692em 0 0;
  float: right;
  text-align: right;
}

#page-tools li {
  display: block;
  padding: 0;
}

#page-tools a {
  color: #96BC44;
}

/**
 * Help, status, and messages
 */
div.help,
div.messages,
div.warning {
  border: none;
  min-height: 1em;
  /* prevents divs from cutting off the icon (rare) */
  padding: 1em 1em 1em 3.5em;
}

div.help a,
div.messages a,
div.warning a {
  font-weight: bold;
}

/* lists may only appear in help and messages (but not sure) */
#content div.help ul,
#content div.messages ul {
  margin-bottom: 1em;
  margin-left: 0;
  padding: 0;
}

#content div.help ul li,
#content div.messages ul li {
  margin-bottom: .25em;
}

div.help {
  background: #cde4f2 url(../images/icon-help.gif) 10px 14px no-repeat;
  /* Dark Blue 20% */
  /* @todo: standardize color, change graphic, add sprite */
  margin-bottom: 20px;
}

div.help ul li {
  list-style-image: url(../images/bullet-dot-blue.png);
  /* @todo: change graphic, add sprite */
}

div.more-help-link {
  margin-bottom: .5em;
}

/**
 * Issues queue
 */
/* reset - theme the td's instead of tr's for reliability */
body .project-issue tr.odd,
body .project-issue tr.even {
  background: none;
  border: none;
}

/* reset borders from collapsed */
table {
  border-collapse: separate;
}

/* default state, override where required */
.project-issue tr td,
.project-issue tr td.active {
  background-color: #F9F9F9;
  border-bottom: 1px solid #D8D8D2;
  border-top: 2px solid #CCC;
}

.project-issue tr td.active {
  background-color: #FFF;
  border-top: 2px solid #939393;
}

/* target the td's rather than tr's */
.project-issue tr.state-1 td {
  background-color: #F9F9F9;
  border-top: 2px solid #ccc;
}

.project-issue tr.state-1 td.active {
  background-color: #FFF;
  border-top: 2px solid #939393;
}

.project-issue tr.state-2 td {
  background-color: #D7FFD8;
  border-top: 2px solid #A8FF98;
}

.project-issue tr.state-2 td.active {
  background-color: #EDFFEC;
  border-top: 2px solid #96bc44;
}

.project-issue tr.state-3 td,
.project-issue tr.state-4 td,
.project-issue tr.state-5 td,
.project-issue tr.state-6 td,
.project-issue tr.state-16 td {
  background-color: #EFF1FE;
  border-top: 2px solid #B5C4FE;
}

.project-issue tr.state-3 td.active,
.project-issue tr.state-4 td.active,
.project-issue tr.state-5 td.active,
.project-issue tr.state-6 td.active,
.project-issue tr.state-16 td.active {
  background-color: #F2F4FE;
  border-top: 2px solid #4988FE;
}

.project-issue tr.state-7 td,
.project-issue tr.state-18 td {
  background-color: #FDDDDD;
  border-top: 2px solid #FC8596;
}

.project-issue tr.state-7 td.active,
.project-issue tr.state-18 td.active {
  background-color: #FDEBED;
  border-top: 2px solid #FC2843;
}

.project-issue tr.state-8 td {
  background-color: #FFFFDD;
  border-top: 2px solid #FFCF73;
}

.project-issue tr.state-8 td.active {
  background-color: #FEFFEC;
  border-top: 2px solid #FFB404;
}

.project-issue tr.state-13 td {
  background-color: #FFECE8;
  border-top: 2px solid #FFDCCD;
}

.project-issue tr.state-13 td.active {
  background-color: #FFF6F6;
  border-top: 2px solid #FFBCA4;
}

.project-issue tr.state-14 td,
.project-issue tr.state-15 td {
  background-color: #F1FFE8;
  border-top: 2px solid #BCFFB3;
}

.project-issue tr.state-14 td.active,
.project-issue tr.state-15 td.active {
  background-color: #F8FFF1;
  border-top: 2px solid #93FF88;
}

/* Issue Summaries */
.project-issue-last-modified {
  margin-bottom: 1.385em;
  /* 18px */
}

/**
 * Issue cockpit
 */
/* Project Issues Cockpit */
#block-project_issue-issue_cockpit .block-inner,
#block-versioncontrol_project-project_maintainers .block-inner,
#block-cvs-cvs_project_maintainers .block-inner {
  margin: 0;
}

/* set font color for the avoid duplicates text */
#block-project_issue-issue_cockpit .block-content,
#homebox-block-project_issue_issue_cockpit .portlet-content {
  color: #888;
}

/* reset font color for other elements*/
form#project-issue-issue-cockpit-searchbox,
.issue-cockpit-categories,
.issue-cockpit-subscribe,
.issue-cockpit-statistics,
.issue-cockpit-oldest {
  color: #222;
}

form#project-issue-issue-cockpit-searchbox {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

form#project-issue-issue-cockpit-searchbox .form-item {
  float: left;
  margin: 0 10px 0.5em 0;
}

form#project-issue-issue-cockpit-searchbox a {
  clear: left;
  display: block;
}

/* header styling */
#block-project_issue-issue_cockpit .category-header,
#homebox-block-project_issue_issue_cockpit .category-header {
  color: #555;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2307em;
  /* 1.2307 * 13px = 16px */
  font-weight: normal;
  margin-top: 0.5em;
}

.issue-cockpit-bug,
.issue-cockpit-statistics {
  margin-bottom: 0.5em;
}

.issue-cockpit-oldest {
  color: #888;
}

/**
 * My issues
 */
.view-project-issue-user-issues div.project-title {
  font-weight: bold;
}

#homebox #homebox-block-views_a512ec6dea837b33a2b010c2af17ed85 .portlet-content {
  padding: 0;
}

#homebox .homebox-portlet .view-project-issue-user-issues .more-link {
  padding: 0px 10px 10px 0px;
}

#homebox #homebox-block-views_a512ec6dea837b33a2b010c2af17ed85 th {
  display: none;
}

#homebox #homebox-block-views_a512ec6dea837b33a2b010c2af17ed85 td {
  padding: 0.25em 10px;
}

/**
 * Landing page elements
 */
a.all {
  font-weight: bold;
}

.narrow-box {
  /* Creates a padded box for columns which mostly have lists, e.g. Getting Started */
  margin-bottom: 18px;
  padding: 18px;
}

.narrow-box ul {
  padding-left: 0!important;
}

.narrow-box ul li {
  list-style-type: none;
}

.narrow-box a.link-button {
  margin: 20px 0 15px 0;
}

.narrow-box a.link-button span {
  font-size: 0.92307em;
  /* 0.92307 * 13px = 12px */
  white-space: nowrap;
}

.narrow-box-list {
  margin-bottom: 1.5em;
}

#getting-started img {
  float: left;
}

/* action-button and all flag links should be big green boxes */
a.flag,
input.action-button,
a.action-button {
  display: inline-block;
  color: #fff;
  background: #9fc748;
  padding: 0.643em 1.5em;
  font-size: 1.077em;
  /* 14pt */
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

a.flag:hover,
a.flag:focus,
input.action-button:focus,
input.action-button:hover,
a.action-button:focus,
a.action-button:hover {
  text-decoration: none;
  background: #8aaf3c;
  color: #fff;
}

/* Unflag links without focus/hover want different background colors. */
a.unflag-action {
  background: #eee;
  color: #0678BE;
}

/* Force a fixed-width on flag links so the button doesn't change on hover. */
a.flag {
  width: 4.64em;
  text-align: center;
}

/* Override top margin for #content h2's on the D&E home page */
#download h2,
#content .drupal-modules-facets h2 {
  margin-top: 0;
}

/* D&E Home landing page - download core button */
#download .core ul li.download-core {
  margin-bottom: 1.5em;
}

/* D&E Home 'all' links in lists */
#content li.more a,
#content li.more a:link,
#content li.more a:visited,
#content li.more a:active,
#content li.all a,
#content li.all a:link,
#content li.all a:visited,
#content li.all a:active {
  font-weight: bold;
}

/* D&E Home 'show only modules' form */
#project-solr-version-form {
  margin-bottom: 1em;
}

#edit-drupal-core-wrapper,
#project-solr-version-form label,
#project-solr-version-form select,
#project-solr-version-form .form-submit {
  float: left;
  font-weight: normal;
  margin: 0 10px 0 0;
}

#edit-drupal-core-wrapper {
  margin-right: 0;
}

#project-solr-version-form .form-submit {
  padding: 0 3px;
}

/* link button (green button) */
a.link-button,
input[type="submit"],
button {
  color: #FFF;
  background-color: #9fc748;
  background-image: -webkit-gradient(linear, left, left bottom, color-stop(50%, #9fc748), color-stop(50%, #96bc44));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #9fc748 50%, #96bc44 50%);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #9fc748 50%, #96bc44 50%);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #9fc748 50%, #96bc44 50%);
  /* IE10 */
  background-image: -o-linear-gradient(top, #9fc748 50%, #96bc44 50%);
  /* Opera 11.10+ */
  background-image: linear-gradient(to bottom, #9fc748 50%, #96bc44 50%);
  border: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.38461em;
  /* 1.38461 * 13 = 18px */
  height: 2em;
  padding: 0 1em;
  overflow: hidden;
  text-align: center;
}

a.link-button:focus,
a.link-button:active {
  outline: #000 dotted thin;
}

a.link-button:hover {
  text-decoration: none;
}

.link-button span {
  cursor: pointer;
  display: inline-block;
  line-height: 36px;
}

input.default {
  color: #888;
}

/**
 * Messages
 */
div.messages,
div.warning {
  margin-bottom: 10px;
}

div.messages-multiple {
  padding-bottom: 0;
  padding-left: 4.5em;
}

div.messages-status {
  background: #d4efcc url(../images/icon-success.png) 10px 14px no-repeat;
}

div.messages-status ul li {
  list-style-image: url(../images/bullet-dot-green.png);
}

div.messages-warning,
div.warning {
  background: #ffe69f url(../images/icon-warning.gif) 10px 14px no-repeat;
}

div.messages-warning ul li {
  list-style-image: url(../images/bullet-dot-yellow.png);
}

div.messages-error {
  background: #ebcccc url(../images/icon-error.png) 10px 14px no-repeat;
}

div.messages-error ul li {
  list-style-image: url(../images/bullet-dot-red.png);
}

/* Appears at bottom of forms */
div.warning {
  margin-top: 20px;
}

/* Asterisk */
span.warning {
  color: #e3901b;
  /* Orange */
  /* @todo: standardize color */
  margin-left: .5em;
}

div.warning span.warning {
  display: none;
  /* hide asterisk inside warning div (redundant) */
}

/* Changed draggable rows (usually constains <span class="warning">) */
tr.drag-previous {
  background: #E6FCB6;
  /* Light Yellow */
}

/**
 * Navigation
 */
div#page-title {
  margin-top: 1.048em;
  /* * 21 = 22 */
}

#nav-header {
  font-size: 0.923076em;
  /* 12px */
}

#nav-header ul {
  background: #064771;
  /* Navy Blue */
  float: right;
  padding: 0 0.75em 0 0.75em;
}

#nav-header ul li {
  float: left;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav-header ul li a {
  color: #FFF;
  display: block;
  margin: 0.333333em 0.833333em;
}

#nav-header a.home {
  float: left;
  margin-left: 0;
}

#nav-header a:hover,
#nav-header a:focus {
  color: #A5E2FF;
  /* Not a standard color, matches prototype */
  text-decoration: none;
}

#nav-masthead {
  display: block;
  float: left;
  position: relative;
  z-index: 1;
}

#nav-masthead ul li {
  list-style: none;
  float: left;
  font-size: 0.923076em;
  /* 12px */
  margin: 0;
  padding: 0 0.615384em;
  /* 8px */
}

#nav-masthead ul li a {
  color: #FFF;
  display: block;
  float: left;
  margin: 0;
  /*  padding: 5px 8px 8px 0;*/
  padding: 0.416666em .75em 0.416666em 0;
  text-decoration: none;
}

#nav-masthead ul li.active a,
#nav-masthead ul li:hover a,
#nav-masthead ul li:focus a {
  color: #000;
}

#userinfo {
  float: left;
  margin: 5px 0 0 .75em;
}

#userinfo a {
  color: #FFF;
  font-size: 0.92307em;
  /* 0.92307 * 13 = 12px */
  margin: 0 1em 0 0;
  text-decoration: none;
}

#nav-content ul {
  border-bottom: 1px solid #DDD;
  /* @todo: Double-check this color */
  float: left;
  margin-bottom: 1.154em;
  width: 100%;
}

#nav-content ul li {
  float: left;
  margin-bottom: -1px;
  padding: 4px 12px 5px 12px;
  position: relative;
}

#nav-content ul li a:hover,
#nav-content ul li a:focus,
#nav-content ul li.active-parent a {
  color: #000;
  text-decoration: none;
}

#nav-content ul li.active,
#nav-content ul li.active-parent {
  background-color: transparent;
  border: none;
}

#nav-content ul li.active a:hover,
#nav-content ul li.active a:focus {
  text-decoration: none;
}

#nav-content li.active,
#nav-content li.active-parent {
  padding: 0 0 0 0.384615em;
  /* 5px */
}

#nav-content li.active a.active,
#nav-content li.active-parent a {
  display: block;
  padding: 0.307692em 0.692307em 0.846153em 0.230769em;
  /*  padding: 4px 9px 11px 3px;*/
}

.ui-widget {
  font-size: 1em;
  font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

.ui-tabs-nav {
  width: 100%;
  float: left;
  border: 0;
  border-bottom: 1px solid #BFBFBA;
  /* @todo: Double-check this color */
}

.ui-tabs-nav li {
  float: left;
  padding: 0 0 0 10px;
  position: relative;
  margin-bottom: -3px;
}

.ui-tabs-nav a {
  color: #27537A;
  display: block;
  float: left;
  height: 28px;
  padding: 6px 11px 0 0;
}

.ui-tabs-nav li.ui-tabs-selected a {
  color: #000;
  /* @todo: Double-check this color */
}

.ui-tabs-nav li a:hover,
.ui-tabs-nav li a:focus {
  text-decoration: none;
}

.ui-tabs-hide {
  display: none;
}

.ui-tabs-nav a:active {
  outline: none;
}

.ui-tabs-nav .icon {
  display: inline-block;
  height: 13px;
  margin-right: 3px;
  width: 11px;
}

#content .ui-tabs-panel h6 {
  margin: 0;
}

/**
 * News page
 */
#block-drupalorg_news-news-terms .block-inner {
  padding-left: 3px;
}

#aside #block-block-40,
#aside #block-block-42,
#aside #block-block-46,
#aside #block-drupalorg-drupalorg_activity,
#aside #block-drupalorg_handbook-meta-sidebar,
#aside #block-drupalorg_handbook-about-page,
#block-drupalorg_news-news-terms.block {
  background-color: #FFF;
}

#block-drupalorg_news-news-terms h2 {
  margin-bottom: .5em;
}

#block-drupalorg_news-news-terms ul.links {
  margin-left: -10px;
}

#block-drupalorg_news-news-terms ul.links li {
  display: list-item;
  margin-bottom: 4px;
}

/**
 * Pager
 */
#content .item-list .pager {
  padding: 1em 0 0;
  text-align: left;
}

.item-list ul.pager li {
  margin: 0;
  padding: 0 5px;
}

.pager li.first {
  padding: 0;
}

ul.pager a {
  color: #2E6AB1;
}

.pager li.pager-current {
  background-color: #2E6AB1;
  color: #FFF;
}

/**
 * Project listings
 */
#project-overview .project {
  border-bottom: 1px solid #E1E1DB;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#project-overview .image-attach-teaser {
  float: right;
  margin: 0 0 20px 20px;
}

#project-overview .image-attach-teaser img {
  border: 1px solid #9D9D93;
  display: block;
}

#project-overview ul.project-meta li {
  color: #666;
  font-size: 0.92307em;
  /* 0.92307 * 13px = 12px */
  margin-bottom: 0;
}

#project-overview .links {
  font-size: 1em;
  /* Override project default */
}

/* Prevent unordered and ordered lists from wrapping images */
#content #project-overview .project ul,
#content #project-overview .project ol {
  overflow: auto;
}

/**
 * Project listings search form
 */
#project-solr-browse-projects-form {
  background-color: #F6F6F2;
  margin: 0 0 20px 0;
  padding: 10px;
}

#project-solr-browse-projects-form .form-item,
#project-solr-browse-projects-form #edit-submit,
#project-solr-browse-projects-form #edit-submit-2 {
  float: none;
}

#project-solr-browse-projects-form #edit-submit,
#project-solr-browse-projects-form #edit-submit-2 {
  margin-bottom: 0;
}

#project-solr-browse-projects-form .form-item > * {
  display: inline;
}

/**
 * Project node styles
 */
.project-info .count {
  font-weight: bold;
}

/**
 * Project page
 */
.project-links-section div {
  margin: 1em 0;
}

#content .project-links-section ul {
  margin-left: 0;
  padding-left: 0;
}

/**
 * Search
 */
#header input[type="text"] {
  background-color: #FFF;
  border: 3px solid #1885C8;
  color: #999;
  float: left;
  font-size: 0.92307em;
  /* 0.92307 * 13px = 12px */
  min-height: 18px;
  /* Force IE7 and IE8 to think properly about padding */
  line-height: 1.61538em;
  /* 1.61538 * 13 = 21px */
  margin: 0 5px 0 0;
  padding: 8px 10px 8px 30px;
  width: 275px;
}

#search-block-form input[type="text"] {
  color: #222;
  font-size: 1.0769em;
  /* 1.0769 * 13 = 14px */
}

#header input[type="text"]:focus {
  outline: #E4E4E4 solid 2px;
}

#search-block-form h2 {
  display: none;
}

.front #search-block-form h2 {
  color: #FFF;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.61538em;
  /* 1.61538 * 13 = 21px */
  margin: 0 0 .5em 0;
}

#search-theme-form-advanced {
  clear: left;
  display: none;
  float: left;
  margin-top: -3px;
  width: 275px;
}

#search-theme-form-advanced fieldset {
  /* @todo: remove these items if we reset fieldsets later */
  border: 0;
  line-height: 1.538461em;
  margin: 0;
  padding: 0;
}

.front #search-theme-form-advanced {
  display: block;
  margin: 9px 0 0 3px;
}

#search-theme-form-advanced {
  display: none;
}

html.js #search-theme-form-advanced {
  display: block;
}

#search-theme-form-advanced fieldset.collapsible {
  background: url(../images/search-bottom.png) 0 100% no-repeat;
  border: 0;
  /* @todo: remove these items if we reset fieldsets later */
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
}

#search-theme-form-advanced fieldset.collapsed {
  background: transparent;
}

#search-theme-form-advanced fieldset.collapsible .fieldset-wrapper {
  background-color: #0678BE;
  padding: 2em 10px 0;
}

#search-theme-form-advanced fieldset.collapsed .fieldset-wrapper {
  background-color: transparent;
}

#search-theme-form-advanced fieldset.collapsible .form-radios {
  border: 0;
  color: #FFF;
}

html.js #search-theme-form-advanced fieldset.collapsible .fieldset-wrapper {
  overflow: visible;
  float: left;
}

#search-theme-form-advanced legend {
  margin: 0;
  height: 1.538461em;
  line-height: 1.538461em;
}

#search-theme-form-advanced fieldset.collapsible legend {
  height: auto;
  position: absolute;
  right: 0;
  top: 4px;
}

#search-theme-form-advanced fieldset.collapsible legend a {
  color: #000;
  padding: 0 16px 0 0;
  text-decoration: none;
}

#search-theme-form-advanced fieldset.collapsible legend a:hover {
  text-decoration: underline;
}

#search-theme-form-advanced fieldset.collapsible legend a:focus {
  outline: none;
}

#search-theme-form-advanced .form-radios,
#search-theme-form-advanced .form-radios .form-item {
  margin: 0;
  float: left;
}

#search-theme-form-advanced .form-radios {
  padding-top: 0;
  width: 275px;
  position: relative;
}

#search-theme-form-advanced fieldset.collapsible .form-radios {
  width: 255px;
}

#search-theme-form-advanced .form-radios .form-item {
  min-height: 1.538461em;
  width: 135px;
}

#search-theme-form-advanced fieldset.collapsible .form-radios .form-item {
  font-size: 0.923076em;
  width: 127px;
}

#search-theme-form-advanced .form-radios .form-divider {
  float: left;
  width: 127px;
}

#search-theme-form-advanced .form-radios .form-item input {
  margin: 0;
}

#search-theme-form-advanced .form-radios label {
  color: #FFF;
}

#search-theme-form-submit {
  display: inline;
  /* Fixes Chrome issue */
  margin-top: 3px;
}

.page-search h1 {
  background-color: #F6F6F2;
  color: #555555;
  font-size: 1.38461em;
  /* 1.38461 * 13 = 18px */
  padding: 10px;
}

.page-search h1 em {
  font-style: normal;
  font-weight: bold;
}

/* search filter form */
.page-search #project-solr-browse-projects-form {
  background: none;
  margin-bottom: 1em;
  padding: 0;
}

.page-search #project-solr-browse-projects-form label {
  font-weight: normal;
}

.page-search #drupalorg-search-sort-form {
  margin-bottom: 1em;
}

.page-search #drupalorg-search-sort-form .form-item {
  margin-top: 0;
}

.page-search #edit-solrsort-wrapper label,
.page-search #edit-solrsort-wrapper select {
  display: inline;
  font-weight: normal;
  margin: 0 10px 0 0;
}

.page-search #edit-solrsort-wrapper {
  margin-right: 0;
}

.search-results dd {
  padding-left: 0;
}

.search-results .search-info {
  color: #666;
  font-size: 0.92307em;
  /* 0.92307 * 13px = 12px */
}

.search-results dt {
  font-size: 1em;
}

.page-search #aside .block {
  background: none;
}

.page-search #aside .item-list ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-left: -10px;
}

.page-search #aside .item-list ul li {
  list-style-type: none;
  margin-bottom: 3px;
  margin-left: 0;
}

#block-drupalorg_news-news-terms ul.links li a,
.page-search #aside .item-list ul li a {
  color: #0678BE;
  /*padding: 2px 5px 3px 13px;*/
  padding: 0.153846em 0.384615em 0.230769em 1em;
}

.page-search #aside .item-list ul li a.selected,
.page-search #aside .item-list ul li a:hover,
#block-drupalorg_news-news-terms ul.links li a.active,
#block-drupalorg_news-news-terms ul.links li a:hover,
#block-drupalorg_news-news-terms ul.links li a:focus {
  background-color: #666;
  color: #fff;
  text-decoration: none;
}

.page-search #drupalorg-search-block-form .form-text {
  height: 1.5em;
  width: 150px;
}

.page-search #content-top-region form.drupalorgSearch-processed input[type=submit] {
  display: none;
}

/**
 * Styles for the site status indicator.
 */
#drupalorg-site-status {
  background-color: #D32101;
  color: #FFF;
  padding: 0.5em;
  text-align: center;
  position: relative;
  -moz-box-shadow: 0 2px 2px 1px rgba(68, 68, 68, 0.5);
  -webkit-box-shadow: 0 2px 2px 1px rgba(68, 68, 68, 0.5);
  box-shadow: 0 2px 2px 1px rgba(68, 68, 68, 0.5);
  z-index: 1;
}

#drupalorg-site-status a {
  color: #FFF;
  text-decoration: underline;
}

/**
 * Tabs (local tasks, subtasks)
 */
#tabs {
  margin-bottom: 1.385em;
}

#tabs ul.tabs {
  display: block;
  border: 0;
  padding: 0;
}

#tabs ul.tabs li {
  float: left;
  margin-right: 0.5em;
}

#tabs ul.tabs li a {
  background-color: transparent;
  border: 0;
  color: #668a19;
  display: block;
  padding: 0.231em 0.615em;
}

#tabs ul.tabs li a:hover,
#tabs ul.tabs li a:focus,
#tabs ul.tabs li.active a,
#tabs ul.primary li.parent-active a:focus,
#tabs ul.primary li.parent-active a:hover {
  background: #668a19;
  color: #fff;
  border-radius: 3px;
}

#tabs ul.primary li.parent-active a {
  background: #e6fcb6;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-weight: bold;
}

#tabs ul.secondary {
  color: #668a19;
  background: #e6fcb6;
  border-radius: 3px;
  font-size: 0.923em;
  /* 0.923 * 13px = 12px */
}

/**
 * Taxonomy terms
 */
.feed-item-categories a,
.feed-item-categories a:link,
.feed-item-categories a:visited,
.terms a,
.terms a:link,
.terms a:visited {
  background-color: #EEE;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #666;
  display: inline-block;
  margin: 3px 0;
  padding: 3px 5px;
  text-decoration: none;
}

.feed-item-categories a:hover,
.feed-item-categories a:active,
.feed-item-categories a:focus,
.terms a:hover,
.terms a:active,
.terms a:focus {
  background-color: #999;
  color: #FFF;
}

div.codeblock {
  background-color: #F6F6F2;
  margin-bottom: .5em;
}

#page ul ul li {
  margin-left: 1em;
}

/**
 * User profiles
 */
.profile {
  clear: none;
  margin-top: 0;
  margin-bottom: 0.692em;
}

.profile.alpha {
  clear: left;
}

.profile h3 {
  border-bottom: none;
  clear: left;
}

.profile dl {
  margin: 0;
}

.profile dt {
  clear: left;
  margin: 0 10px 0 0;
}

.profile dd {
  padding: 0;
  margin-bottom: 0.692em;
}

.profile .picture {
  float: right;
  margin-top: 6px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 * Colors
 * 
 * http://infrastructure.drupal.org/drupal.org-style-guide/colour.html
 * moving to http://drupal.org/node/1051644
 * 
 * -------------------------------------
 * Primary colors
 * -------------------------------------
 * Dark Blue #0678BE rgb(6,120,190)
 * Dark Blue 50% #83BCDE
 * Dark Blue 40% #9CC9E5
 * Dark Blue 30% #B4D7EB
 * Dark Blue 20% #CDE4F2 rgb(205,228,242)
 * 
 * Light Blue #53B0EB rgb(83,176,235)
 * 
 * Lime Green #96BC44 rgb(150,188,68)
 * 
 * -------------------------------------
 * Secondary colors
 * -------------------------------------
 * Navy Blue #064771 rgb(6,71,113)
 * Light Navy Blue #0D7DC1 rgb(13,125,193)
 * Light Navy Blue 50% #9ECBE6 rgb(158,203,230)
 * 
 * Pale Yellow #F6F6F2 rgb(246,246,242)
 * Light Yellow #E6FCB6 rgb(230,252,182)
 * 
 * Gray #9D9D93 rgb(157,157,147)
 * Black #000 rgb(0,0,0)
 * 
 * -------------------------------------
 * Not officially listed, but found prototypes
 * -------------------------------------
 * Yellow/Green (border, th bg) #EAEAE1
 * Yellow/Green (background) #F9FFEC
 * 
 * Light Red (border) #EBCCCC
 * Light Red (background) #F6E8E8
 * 
 * -------------------------------------
 * Typography
 * -------------------------------------
 * Gray body text #222
 * Header h1 #000
 * Gray headers h2-h4 #555
 * Gray headers h5-6 #222
 * Blue links #0678BE
 * 
 * -------------------------------------
 * Colors not specified in style guide
 * -------------------------------------
 * Gray #666
 * Gray #nav-content border #E1E1DB
 * 
 * Blue #nav-header BG #044771
 * 
 * -------------------------------------
 * Help, status, and messages
 * -------------------------------------
 * Help:
 * Blue: Dark Blue 20%
 * 
 * Asterisk:
 * Orange: rgb(227,144,27) NOT PART OF PALETTE
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * @file
 * Administrative items
 */
/**
 * Admin pages
 */
div.block-region {
  background: none;
  border: 2px dashed #53B0EB;
  color: #53B0EB;
  font-size: 1.0769em;
  /* 1.0769 * 13px = 14px */
  margin: 10px 0;
  padding: 10px;
}

/**
 * Views pages
 */
.views-tabs .ui-tabs-nav li,
.views-tabs .ui-tabs-nav a {
  float: none;
}

#content .views-tabs ul.ui-tabs-nav {
  padding-left: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 * Colors
 * 
 * http://infrastructure.drupal.org/drupal.org-style-guide/colour.html
 * moving to http://drupal.org/node/1051644
 * 
 * -------------------------------------
 * Primary colors
 * -------------------------------------
 * Dark Blue #0678BE rgb(6,120,190)
 * Dark Blue 50% #83BCDE
 * Dark Blue 40% #9CC9E5
 * Dark Blue 30% #B4D7EB
 * Dark Blue 20% #CDE4F2 rgb(205,228,242)
 * 
 * Light Blue #53B0EB rgb(83,176,235)
 * 
 * Lime Green #96BC44 rgb(150,188,68)
 * 
 * -------------------------------------
 * Secondary colors
 * -------------------------------------
 * Navy Blue #064771 rgb(6,71,113)
 * Light Navy Blue #0D7DC1 rgb(13,125,193)
 * Light Navy Blue 50% #9ECBE6 rgb(158,203,230)
 * 
 * Pale Yellow #F6F6F2 rgb(246,246,242)
 * Light Yellow #E6FCB6 rgb(230,252,182)
 * 
 * Gray #9D9D93 rgb(157,157,147)
 * Black #000 rgb(0,0,0)
 * 
 * -------------------------------------
 * Not officially listed, but found prototypes
 * -------------------------------------
 * Yellow/Green (border, th bg) #EAEAE1
 * Yellow/Green (background) #F9FFEC
 * 
 * Light Red (border) #EBCCCC
 * Light Red (background) #F6E8E8
 * 
 * -------------------------------------
 * Typography
 * -------------------------------------
 * Gray body text #222
 * Header h1 #000
 * Gray headers h2-h4 #555
 * Gray headers h5-6 #222
 * Blue links #0678BE
 * 
 * -------------------------------------
 * Colors not specified in style guide
 * -------------------------------------
 * Gray #666
 * Gray #nav-content border #E1E1DB
 * 
 * Blue #nav-header BG #044771
 * 
 * -------------------------------------
 * Help, status, and messages
 * -------------------------------------
 * Help:
 * Blue: Dark Blue 20%
 * 
 * Asterisk:
 * Orange: rgb(227,144,27) NOT PART OF PALETTE
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * @file
 * Form-related styles
 */
#project-solr-browse-projects-form .results-count {
  border-bottom: 1px solid #DDDDDD;
  margin: 0 0 1em 0;
  padding-bottom: 0.5em;
}

.form-item label {
  font-weight: bold;
}

/**
 * @file
 * Styles for sprites
 *
 * CSS Sprites
 *
 * See each sprite's PSD file for adding images. PSD files are located in the assets directory.
 * 
 * Add selector for the list of *all* elements using the background for image and repeat, 
 * Define the background-position seperately per-element.
 * 
 * Example:
 *
 * #nav-masthead li,
 * #nav-masthead li a {
 *   background-image: url(../images/sprites-header.png);
 *   background-repeat:no-repeat;
 * }
 *
 * #nav-masthead li a {
 *   background-position: 100% 0;
 * }
 *
 * #nav-masthead li {
 *   background-position: 0 -48px;
 * }
 * 
 * Some files have images of variable height. Each image has its height
 * written next to it, so simply add the heights to know the background-position.
 */
/**
 * Small icons sprite
 */
#content .node-footer a.comment_comments,
#content .node-footer a.comment_add,
html.js #search-theme-form-advanced fieldset.collapsible legend a,
div.nav-content-dashboard ul li.active span.hover a.edit span,
div.nav-content-dashboard ul li.active span.hover a.delete,
#page-tools a.add,
#dashboard a.remove-widget,
#block-drupalorg_handbook-meta-sidebar .page-major-problem span,
.project-info .alert,
.rss-feed-link,
.search-results .search-info .comments,
.portlet-header .portlet-settings,
.portlet-plus,
.portlet-minus,
.portlet-close,
.portlet-maximize,
.portlet-maximized .portlet-minimize {
  background-image: url(../images/small-icons.png);
  background-repeat: no-repeat;
}

#content .node-footer a.comment_comments,
#content .node-footer a.comment_add {
  background-position: 0 -415px;
  padding-left: 15px;
}

html.js #search-theme-form-advanced fieldset.collapsible legend a {
  background-position: 100% -473px;
}

div.nav-content-dashboard ul li.active span.hover a.edit span {
  background-position: 8px -61px;
  padding-left: 20px;
}

div.nav-content-dashboard ul li.active span.hover a.delete {
  background-position: 8px -125px;
  height: 12px;
  padding-left: 20px;
}

#dashboard a.remove-widget {
  background-position: 0 -128px;
  height: 12px;
  padding-left: 12px;
}

#page-tools a.add {
  background-position: right -188px;
  padding-right: 18px;
}

#block-drupalorg_handbook-meta-sidebar .page-major-problem span {
  background-position: 0 -223px;
  padding-left: 15px;
}

.project-info .alert {
  background-position: 0 -223px;
  padding-left: 16px;
}

.rss-feed-link {
  background-position: 0 -30px;
  padding-left: 20px;
}

.search-results .search-info .comments {
  background-position: 0 -415px;
  padding-left: 14px;
}

.portlet-header .portlet-settings {
  background-position: 2px -64px;
}

.portlet-plus {
  background-position: 2px -192px;
}

.portlet-close {
  background-position: 2px -128px;
}

/**
 * Large icons sprite. Graphic has large transparent gaps.
 */
.page-search #aside .item-list ul li,
#block-drupalorg_news-news-terms ul.links li {
  line-height: 1.5em;
}

/**
 * Pointer icon.
 */
.page-search #aside .item-list ul li a.selected,
.page-search #aside .item-list ul li a:hover,
#block-drupalorg_news-news-terms ul.links li a.active,
#block-drupalorg_news-news-terms ul.links li a:hover,
#block-drupalorg_news-news-terms ul.links li a:focus {
  background-image: url(../images/pointer.png);
  background-repeat: no-repeat;
  background-position: 0 center;
}

input[name*="search"],
#aboutwebbased a,
#aboutcontentmanagement a,
#aboutmodules a,
#aboutthemes a,
#aboutsearching a,
#aboutsocial a,
#aboutcommunity a,
#aboutpersonalisation a {
  background: white url(../images/large-icons.png) no-repeat;
}

input[name*="search"] {
  background-position: 8px -856px;
}

#aboutwebbased a {
  background-position: 4px 0;
}

#aboutcontentmanagement a {
  background-position: 4px -96px;
}

#aboutmodules a {
  background-position: 4px -192px;
}

#aboutthemes a {
  background-position: 4px -288px;
}

#aboutsearching a {
  background-position: 4px -384px;
}

#aboutsocial a {
  background-position: 4px -480px;
}

#aboutcommunity a {
  background-position: 4px -576px;
}

#aboutpersonalisation a {
  background-position: 4px -1056px;
}

/**
 * Horizontally repeated images
 *
 * Used for images that are very small in width but usually high.
 * For example, gradients that are repeated on the x axis.
 */
#header {
  background-image: url(../images/sprites-horizontal.png);
  background-repeat: repeat-x;
}

#header {
  background-position: 0 -1088px;
}

body.front #header {
  background-position: 0 0;
}

/**
 * General sprites
 */
#site-name a,
#nav-content li.active,
#nav-content li.active a.active,
#nav-content li.active-parent,
#nav-content li.active-parent a,
#nav-masthead li,
#nav-masthead li a,
.ui-tabs-nav li.ui-tabs-selected,
.ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs-nav .icon,
#front-drupal-stats,
.pin,
.homepage-pin,
.image-tags span,
.image-tags span a {
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
}

#site-name a {
  background-position: 0 -467px;
}

.homepage-pin-doc {
  background-position: -22px -753px;
}

.ui-tabs-docs-updates .icon {
  background-position: -22px -750px;
}

.homepage-pin-forum {
  background-position: -11px -753px;
}

.ui-tabs-forum-posts .icon {
  background-position: -11px -750px;
}

.pin,
.homepage-pin-commit {
  background-position: 0 -753px;
}

.ui-tabs-commits .icon {
  background-position: 0 -750px;
}

#nav-content li.active,
#nav-content li.active-parent,
.ui-tabs-nav li.ui-tabs-selected {
  background-position: 0 -1300px;
}

#nav-content li.active a.active,
#nav-content li.active-parent a,
.ui-tabs-nav li.ui-tabs-selected a {
  background-position: 100% -1200px;
}

#nav-masthead li a {
  background-position: 100% -800px;
}

#nav-masthead li {
  background-position: 0 -900px;
}

#nav-masthead li.active a,
#nav-masthead li:hover a {
  background-position: 100% -1000px;
}

#nav-masthead li.active,
#nav-masthead li:hover {
  background-position: 0 -1100px;
}

#front-drupal-stats {
  background-position: 0 -537px;
}

.image-tags span {
  background-position: 0 -224px;
}

.image-tags a {
  background-position: 100% -192px;
}

.feature-tags span {
  background-position: 0 -288px;
}

.feature-tags a {
  background-position: 100% -256px;
}

.sticky .image-tags span {
  background-position: 0 -352px;
}

.sticky .image-tags a {
  background-position: 100% -320px;
}

.drupalorg-site-association #site-name a {
  background-image: url(../images/sprites-association.png);
  background-position: 0 0;
  width: 404px;
}

/**
 * @file
 * Right-to-left styles
 */
/**
 * Stop indenting comments after four levels of indention
 */
.indented .indented .indented .indented {
  margin-right: 0;
}

/**
 * @file
 * Table styles
 *
 * Colour reference based on Mark Boulton Prototypes
 * https://infrastructure.drupal.org/drupal.org-style-guide/page_furniture.html
 * Based on photoshop download &
 * https://infrastructure.drupal.org/drupal.org-style-guide/prototype/jobs.html
 *
 * th background-color: #EAEAE1
 * td odd row background-color: #FFFFFF
 * td even row background-color: #FAFAF0
 * td bottom-border 1px solid: #EAEAE1
 * th active (sorted by) background-color: #D7D7C7
 * td active (sorted by) odd row background-color: #EAEAE1
 * td active (sorted by) even row background-color: #E5E5D4
 *
 * Project table (Official releases):
 * th background-color: #EAEAE1
 * td odd & even rows background-color: #F9FFEC
 * td bottom-border 1px solid #EAEAE1
 *
 * Project table (Development snapshot):
 * th background-color: #EAEAE1
 * td: odd & even row background-color: #F6E8E8
 * td: bottom-border 1px solid #EBCCCC
 */
table {
  margin-bottom: 0.5em;
}

thead th {
  border-bottom: 0;
  padding: 0.25em 0.5em;
}

th,
td {
  padding: 0.25em 0.5em;
}

th {
  background: #eaeae1;
  font-weight: bold;
}

th span.sort-header {
  float: left;
}

.table-sort-asc,
.table-sort-desc {
  padding: 0 14px 0 0;
}

.table-sort-asc {
  background: transparent url(../images/small-icons.png) no-repeat;
  background-position: right -636px;
}

/*@todo: moved to sprites.css*/
.table-sort-desc {
  background: transparent url(../images/small-icons.png) no-repeat;
  background-position: right -600px;
}

/*@todo: moved to sprites.css*/
th a,
th a:link,
th a:visited {
  color: #222;
}

th.active {
  background: #d7d7c7;
}

tr.even td.active {
  background: #e5e5d4;
  border-bottom: 1px solid #D7D7C7;
  border-top: 1px solid #D7D7C7;
}

tr.odd td.active {
  background: #eaeae1;
}

tr.even {
  background: #EEEEE0;
  border-bottom: 1px solid #D8D8D2;
  border-top: 1px solid #D8D8D2;
  position: relative;
}

tr.odd {
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #D8D8D2;
  position: relative;
}

/**
 * Forum
 */
#forum td > td {
  border: 1px solid #f0f;
}

#forum ul {
  padding: 0;
}

#forum .forum.first.last a {
  /*@todo:  move to the sprites;*/
  background: transparent url(../images/small-icons.png) no-repeat;
  background-position: 0 -415px;
  padding-left: 15px;
}

#forum tr td.container {
  padding-left: 10px;
}

#forum tr td.container .name {
  background: transparent url(../images/small-icons.png) no-repeat;
  background-position: 0 3px;
  /*@todo: fix sprites here ;*/
  padding: 0px 0 5px 20px;
  min-width: 20px;
  /* IE7 hack */
}

#forum div.indent {
  margin-left: 30px;
}

#forum tr td.forum {
  background: none;
  padding: 0.25em 0.5em;
}

#forum tr td.forum .name {
  background: transparent url(../images/small-icons.png) no-repeat;
  background-position: 0 -155px;
  /*@todo:fix sprites here ;*/
  min-width: 20px;
  /* IE7 hack */
}

#forum tr td.forum .name,
#forum .description {
  margin: 0;
  padding: 0 0 0 20px;
}

td.icon {
  margin: 5px 0 0 0;
}

.icon16 {
  width: 16px;
  height: 16px;
  display: block;
}

.forum-default,
.forum-hot {
  background: transparent url(../images/small-icons.png) no-repeat;
  background-position: 0 -155px;
}

.forum-hot-new,
.forum-new {
  background: transparent url(../images/small-icons.png) no-repeat;
  background-position: 0 -410px;
}

.forum-closed {
  background: transparent url(../images/small-icons.png) no-repeat;
  background-position: 0 -380px;
}

.forum-sticky {
  background: transparent url(../images/small-icons.png) no-repeat;
  background-position: 0 5px;
}

/**
 * Project Releases Tables
 */
table.releases tr.ok td {
  background-color: #F9FFEC;
  border-bottom: 1px solid #EAEAE1;
}

table.releases tr.release-dev td {
  background-color: #F6E8E8;
  border-bottom: 1px solid #EBCCCC;
}

table.releases td {
  vertical-align: middle;
}

#content table.releases td ul.links {
  margin: 0;
  padding: 0;
}

table.releases td.release-icon {
  padding: 0 5px;
  vertical-align: middle;
}

table.releases td.release-icon img {
  display: block;
}

/*
 * Project Issues table
 */
table tr.notrecommended td {
  background: #F6E8E8;
  border-bottom: 1px solid #EBCCCC;
}

/**
 * @file
 * Typographic styles
 *
 * DO NOT ADD ANYTHING TO THIS FILE!
 */
/**
 * Colors
 * 
 * http://infrastructure.drupal.org/drupal.org-style-guide/colour.html
 * 
 * -------------------------------------
 * Primary colors
 * -------------------------------------
 * Dark Blue #0678BE rgb(6,120,190)
 * Dark Blue 50% #83BCDE
 * Dark Blue 40% #9CC9E5
 * Dark Blue 30% #B4D7EB
 * Dark Blue 20% #CDE4F2 rgb(205,228,242)
 * 
 * Light Blue #53B0EB rgb(83,176,235)
 * 
 * Lime Green #96BC44 rgb(150,188,68)
 * 
 * -------------------------------------
 * Secondary colors
 * -------------------------------------
 * Navy Blue #064771 rgb(6,71,113)
 * Light Navy Blue #0D7DC1 rgb(13,125,193)
 * Light Navy Blue 50% #9ECBE6 rgb(158,203,230)
 * 
 * Pale Yellow #F6F6F2 rgb(246,246,242)
 * Light Yellow #E6FCB6 rgb(230,252,182)
 * 
 * Gray #9D9D93 rgb(157,157,147)
 * Black #000 rgb(0,0,0)
 * 
 * -------------------------------------
 * Not officially listed, but found prototypes
 * -------------------------------------
 * Yellow/Green (border, th bg) #EAEAE1
 * Yellow/Green (background) #F9FFEC
 * 
 * Light Red (border) #EBCCCC
 * Light Red (background) #F6E8E8
 * 
 * -------------------------------------
 * Typography
 * -------------------------------------
 * Gray body text #222
 * Header h1 #000
 * Gray headers h2-h4 #555
 * Gray headers h5-6 #222
 * Blue links #0678BE
 * 
 * -------------------------------------
 * Colors not specified in style guide
 * -------------------------------------
 * Gray #666
 * Gray #nav-content border #E1E1DB
 * 
 * Blue #nav-header BG #044771
 * 
 * -------------------------------------
 * Help, status, and messages
 * -------------------------------------
 * Help:
 * Blue: Dark Blue 20%
 * 
 * Status, success, OK:
 * Green: rgb(212,239,204) NOT PART OF PALETTE
 * 
 * Warning:
 * Yellow: Light Yellow
 * 
 * Error, fail:
 * Red: Light Red (border)
 * 
 * Asterisk:
 * Orange: rgb(227,144,27) NOT PART OF PALETTE
 */
/**
 * Typography
 *
 * Based at 13 / 18
 * http://www.alistapart.com/articles/howtosizetextincss
 */
body {
  color: #222;
  background-color: #fff;
  font-size: 0.8125em;
  /* 16px x .8125 = 13px */
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  line-height: 1.384615em;
  /* 13px x 1.384615 = 18px  */
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  /*
    Most of the body fonts defined above look pretty bad at larger sizes,
    so we force Helvetica/Arial here.
  */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  /* @todo: improve line-height for all headers */
}

h1,
.h1 {
  color: #000;
  font-size: 2em;
  font-weight: normal;
  line-height: 1.385em;
  margin: 0 0 0.692em;
}

#aggregator .feed-item-title,
h2,
.h2 {
  font-size: 1.615em;
  /* * 13px = 21px */
  line-height: 1.286em;
  /* * 21px = 27px  */
  margin: 0.619em 0 0.238em;
}

.block h2 {
  margin-top: 0;
}

#profile .name,
h3,
.h3 {
  font-size: 1.385em;
  /* * 13px = 18px */
  line-height: 1em;
  /* * 18px = 18px */
  margin: 1em 0 0.5em;
}

h3.top {
  /* For the top of columns */
  margin-top: 0;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #000;
  font-size: 1em;
  /* 1 * 13  = 13 */
  /* @todo: distinguish h4/h5/h6 better */
  line-height: 1.385em;
  font-weight: bold;
}

#content h4,
#content .h4,
#content h5,
#content .h5,
#content h6,
#content .h6 {
  margin: 0.5em 0 0.166667em;
}

p {
  margin-bottom: 0.692em;
}

a,
a:link,
a:visited,
a:active {
  color: #0678BE;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #0678BE;
  text-decoration: underline;
}

code,
tt,
pre {
  background-color: #F6F6F2;
  font-family: "Bitstream Vera Sans Mono", Monaco, "Lucida Console", monospace;
  font-size: 0.9230em;
  /* 0.9230 * 13px = 12px */
  padding: 1px;
  white-space: pre-wrap;
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-weight: italic;
}
