////////////////////////
// Overall Layout Partial
//
// Building the Castle.
// All box-model properties get imported here.
////////////////////////

////////////////////////
// Import Base Partial
////////////////////////
@import 'partials/global/base';


/**
 * Global grid settings
 */


// For the moment we are NOT using the container() mixin from Susy. We're hardcoding a pixel-width.
// The reason is because our initial port is not aiming to be responsive.
.container-12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  @include box-sizing(border-box);
  padding: 0 10px;
  //@include susy-grid-background;
}

//Support for Legacy Grid-x classes - for db content like the support page
.grid-1 {
  @include span-columns(1);
}

.grid-2 {
  @include span-columns(2);
}

.grid-3 {
  @include span-columns(3);
}

.grid-4 {
  @include span-columns(4);
}
.grid-5 {
  @include span-columns(5);
}
.grid-6 {
  @include span-columns(6);
}
.grid-7 {
  @include span-columns(7);
}
.grid-8 {
  @include span-columns(8);
}
.grid-9 {
  @include span-columns(9);
}
.grid-10 {
  @include span-columns(10);
}
.grid-11 {
  @include span-columns(11);
}
.omega {
  @include omega();
}
//Global Header

#header-left {
  @include span-columns(7);
  @include suffix(1);
}

#header-right {
  @include span-columns(5 omega);
}

#nav-masthead {
  @include span-columns(12 omega);
}

//Global Page Body Stuff
#main {
  @include span-columns(12 omega);
}

.one-sidebar #main {
  @include span-columns(8);
}

#aside {
  @include span-columns(4 omega);
}

//Global Footer

.grid-footer {
  @include span-columns(2,10);
}

.grid-footer.omega {
  @include span-columns(2 omega,10);
}

//Get started
#getting-started ~ div {
  @include span-columns(3);
}

#getting-started ~ div:last-child {
  @include span-columns(3 omega);
}


//Homepage content

#choose-drupal,
#sites-with-drupal {
  @include span-columns(4);
}

#develop-with-drupal {
  @include span-columns(4 omega);
}

#front-drupal-stats {
  @include span-columns(12 omega);
}

#community-map,
#community-updates {
  @include span-columns(6);
}

#community-updates {
  @include omega;
}

//Getting Involved
#content .getting-involved,
#content .community-spotlight {
  @include span-columns(4,8);
}

#content .community-spotlight {
  @include omega;
}

//Dashboard page

#dashboard .column {
  @include span-columns(4)
}

#dashboard .column:nth-child(3) {
  @include omega;
}

//Profile listing pages
#profile .profile {
   @include span-columns(4, 8)
}

#profile .profile:nth-child(even) {
  @include omega;
}

//User Profile

.profile dl dt {
   @include span-columns(2, 8);
}

.profile dl dd {
 @include span-columns(6 omega, 8); 
}


/**
 * Layout and placement classes
 */
.clear {
  clear: both;
}

.clearleft {
  clear: left;
}

.clearright {
  clear: right;
}

.right {
  clear: right;
  float: right;
  margin: 0 0 0.692em 20px;
}
.left {
  clear: left;
  float: left;
  margin: 0 20px 0.692em 0;
}
img.no-clear {
  clear: none;
}

.drupalorg-3col-grid table.views-view-grid>tbody>tr>td {
  width: 300px;
  padding: 0 10px;
}
.drupalorg-3col-grid table.views-view-grid>tbody>tr>td.col-1 {
  padding-left: 0;
}
.drupalorg-3col-grid table.views-view-grid>tbody>tr>td.col-3 {
  padding-right: 0;
}

/**
 * Align views grid style to the grid.
 *
 * Add 2 CSS classes:
 * - drupalorg-grid-N, N is the width of each column.
 * - drupalorg-N-col, N is the number of columns.
 */
.drupalorg-grid-2 table.views-view-grid>tbody>tr>td {
  width: 140px;
  padding: 0 10px;
}
.drupalorg-grid-4 table.views-view-grid>tbody>tr>td {
  width: 300px;
  padding: 0 10px;
}
.drupalorg-grid-2 table.views-view-grid>tbody>tr>td.col-1,
.drupalorg-grid-4 table.views-view-grid>tbody>tr>td.col-1 {
  padding-left: 0;
}

.drupalorg-2-col table.views-view-grid>tbody>tr>td.col-2,
.drupalorg-3-col table.views-view-grid>tbody>tr>td.col-3,
.drupalorg-4-col table.views-view-grid>tbody>tr>td.col-4 {
  padding-right: 0;
}
