////////////////////////
// Susy Grid Layout
////////////////////////
$total-columns          : 12;
$column-width           : 4em;
$gutter-width           : 0.666666667em;
$grid-padding           : $gutter-width;

$show-grid-backgrounds  : false;

////////////////////////
// Primary Colors
////////////////////////
$dark-blue: #0678be #83bcde #9cc9e5 #b4d7eb #cde4f2;
$light-blue: #53b0eb;
$lime-green: #96bc44;

////////////////////////
// Secondary Colors
////////////////////////
$navy-blue: #064771;
$light-navy-blue: #0d7dc1 #9ecbe6;
$pale-yellow: #f6f6f2;
$light-yellow: #e6fcb6;
$grey: #9d9d93;
$black: #000;

////////////////////////
// Not officially listed, but found prototypes
////////////////////////
$yellow-green: #eaeae1 #f9ffec;
$light-red: #ebcccc #f6e8e8;
$greys: #555 #ddd #d8d8d2;

/**
 * Colors
 * 
 * http://infrastructure.drupal.org/drupal.org-style-guide/colour.html
 * moving to http://drupal.org/node/1051644
 * 
 * -------------------------------------
 * Primary colors
 * -------------------------------------
 * Dark Blue #0678BE rgb(6,120,190)
 * Dark Blue 50% #83BCDE
 * Dark Blue 40% #9CC9E5
 * Dark Blue 30% #B4D7EB
 * Dark Blue 20% #CDE4F2 rgb(205,228,242)
 * 
 * Light Blue #53B0EB rgb(83,176,235)
 * 
 * Lime Green #96BC44 rgb(150,188,68)
 * 
 * -------------------------------------
 * Secondary colors
 * -------------------------------------
 * Navy Blue #064771 rgb(6,71,113)
 * Light Navy Blue #0D7DC1 rgb(13,125,193)
 * Light Navy Blue 50% #9ECBE6 rgb(158,203,230)
 * 
 * Pale Yellow #F6F6F2 rgb(246,246,242)
 * Light Yellow #E6FCB6 rgb(230,252,182)
 * 
 * Gray #9D9D93 rgb(157,157,147)
 * Black #000 rgb(0,0,0)
 * 
 * -------------------------------------
 * Not officially listed, but found prototypes
 * -------------------------------------
 * Yellow/Green (border, th bg) #EAEAE1
 * Yellow/Green (background) #F9FFEC
 * 
 * Light Red (border) #EBCCCC
 * Light Red (background) #F6E8E8
 * 
 * -------------------------------------
 * Typography
 * -------------------------------------
 * Gray body text #222
 * Header h1 #000
 * Gray headers h2-h4 #555
 * Gray headers h5-6 #222
 * Blue links #0678BE
 * 
 * -------------------------------------
 * Colors not specified in style guide
 * -------------------------------------
 * Gray #666
 * Gray #nav-content border #E1E1DB
 * 
 * Blue #nav-header BG #044771
 * 
 * -------------------------------------
 * Help, status, and messages
 * -------------------------------------
 * Help:
 * Blue: Dark Blue 20%
 * 
 * Asterisk:
 * Orange: rgb(227,144,27) NOT PART OF PALETTE
 */
