////////////////////////
// Import Base Partial
////////////////////////
@import 'partials/global/base';

/**
 * @file
 * Administrative items
 */

/**
 * Admin pages
 */
div.block-region {
  background: none;
  border: 2px dashed #53B0EB;
  color: #53B0EB;
  font-size: 1.0769em;  /* 1.0769 * 13px = 14px */
  margin: 10px 0;
  padding: 10px;
}

/**
 * Views pages
 */
.views-tabs .ui-tabs-nav li,
.views-tabs .ui-tabs-nav a {
  float: none;
}

#content .views-tabs ul.ui-tabs-nav {
  padding-left: 0;
}
