////////////////////////
// Import Base Partial
////////////////////////
@import 'partials/global/base';

/**
 * @file
 * Form-related styles
 */

#project-solr-browse-projects-form .results-count {
  border-bottom: 1px solid #DDDDDD;
  margin: 0 0 1em 0;
  padding-bottom: 0.5em;
}

.form-item label {
  font-weight: bold;
}