/**
 * @file
 * Styles for sprites
 *
 * CSS Sprites
 *
 * See each sprite's PSD file for adding images. PSD files are located in the assets directory.
 * 
 * Add selector for the list of *all* elements using the background for image and repeat, 
 * Define the background-position seperately per-element.
 * 
 * Example:
 *
 * #nav-masthead li,
 * #nav-masthead li a {
 *   background-image: url(../images/sprites-header.png);
 *   background-repeat:no-repeat;
 * }
 *
 * #nav-masthead li a {
 *   background-position: 100% 0;
 * }
 *
 * #nav-masthead li {
 *   background-position: 0 -48px;
 * }
 * 
 * Some files have images of variable height. Each image has its height
 * written next to it, so simply add the heights to know the background-position.
 */

/**
 * Small icons sprite
 */
#content .node-footer a.comment_comments,
#content .node-footer a.comment_add,
html.js #search-theme-form-advanced fieldset.collapsible legend a,
div.nav-content-dashboard ul li.active span.hover a.edit span,
div.nav-content-dashboard ul li.active span.hover a.delete,
#page-tools a.add,
#dashboard a.remove-widget,
#block-drupalorg_handbook-meta-sidebar .page-major-problem span,
.project-info .alert,
.rss-feed-link,
.search-results .search-info .comments,
.portlet-header .portlet-settings,
.portlet-plus,
.portlet-minus,
.portlet-close,
.portlet-maximize,
.portlet-maximized .portlet-minimize {
  background-image: url(../images/small-icons.png);
  background-repeat: no-repeat;
}

#content .node-footer a.comment_comments,
#content .node-footer a.comment_add {
  background-position: 0 -415px;
  padding-left: 15px;
}

html.js #search-theme-form-advanced fieldset.collapsible legend a {
  background-position: 100% -473px;
}

div.nav-content-dashboard ul li.active span.hover a.edit span {
  background-position: 8px -61px;
  padding-left: 20px;
}

div.nav-content-dashboard ul li.active span.hover a.delete {
  background-position: 8px -125px;
  height: 12px;
  padding-left: 20px;
}

#dashboard a.remove-widget {
  background-position: 0 -128px;
  height: 12px;
  padding-left: 12px;
}

#page-tools a.add {
  background-position: right -188px;
  padding-right: 18px;
}

#block-drupalorg_handbook-meta-sidebar .page-major-problem span {
  background-position: 0 -223px;
  padding-left: 15px;
}

.project-info .alert {
  background-position: 0 -223px;
  padding-left: 16px;
}

.rss-feed-link {
  background-position: 0 -30px;
  padding-left: 20px;
}

.search-results .search-info .comments {
  background-position: 0 -415px;
  padding-left: 14px;
}

.portlet-header .portlet-settings {
  background-position: 2px -64px;
}

.portlet-plus {
  background-position: 2px -192px;
}

.portlet-close {
  background-position: 2px -128px;
}

/**
 * Large icons sprite. Graphic has large transparent gaps.
 */
.page-search #aside .item-list ul li,
#block-drupalorg_news-news-terms ul.links li {
  line-height: 1.5em;
}

/**
 * Pointer icon.
 */
.page-search #aside .item-list ul li a.selected,
.page-search #aside .item-list ul li a:hover,
#block-drupalorg_news-news-terms ul.links li a.active,
#block-drupalorg_news-news-terms ul.links li a:hover,
#block-drupalorg_news-news-terms ul.links li a:focus {
  background-image: url(../images/pointer.png);
  background-repeat: no-repeat;
  background-position: 0 center;
}

input[name*="search"],
#aboutwebbased a,
#aboutcontentmanagement a,
#aboutmodules a,
#aboutthemes a,
#aboutsearching a,
#aboutsocial a,
#aboutcommunity a,
#aboutpersonalisation a {
  background: #fff url(../images/large-icons.png) no-repeat;
}

input[name*="search"] {
  background-position: 8px -856px;
}

#aboutwebbased a {
  background-position: 4px 0;
}

#aboutcontentmanagement a {
  background-position: 4px -96px;
}

#aboutmodules a {
  background-position: 4px -192px;
}

#aboutthemes a {
  background-position: 4px -288px;
}

#aboutsearching a {
  background-position: 4px -384px;
}

#aboutsocial a {
  background-position: 4px -480px;
}

#aboutcommunity a {
  background-position: 4px -576px;
}

#aboutpersonalisation a {
  background-position: 4px -1056px;
}

/**
 * Horizontally repeated images
 *
 * Used for images that are very small in width but usually high.
 * For example, gradients that are repeated on the x axis.
 */
#header {
  background-image: url(../images/sprites-horizontal.png);
  background-repeat: repeat-x;
}

#header {
  background-position: 0 -1088px;
}

body.front #header {
  background-position: 0 0;
}

/**
 * General sprites
 */
#site-name a,
#nav-content li.active,
#nav-content li.active a.active,
#nav-content li.active-parent,
#nav-content li.active-parent a,
#nav-masthead li,
#nav-masthead li a,
.ui-tabs-nav li.ui-tabs-selected,
.ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs-nav .icon,
#front-drupal-stats,
.pin,
.homepage-pin,
.image-tags span,
.image-tags span a {
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
}

#site-name a {
  background-position: 0 -467px;
}

.homepage-pin-doc {
  background-position: -22px -753px;
}
.ui-tabs-docs-updates .icon {
  background-position: -22px -750px;
}

.homepage-pin-forum {
  background-position: -11px -753px;
}
.ui-tabs-forum-posts .icon {
  background-position: -11px -750px;
}

.pin,
.homepage-pin-commit {
  background-position: 0 -753px;
}
.ui-tabs-commits .icon {
  background-position: 0 -750px;
}

#nav-content li.active,
#nav-content li.active-parent,
.ui-tabs-nav li.ui-tabs-selected {
  background-position: 0 -1300px;
}

#nav-content li.active a.active,
#nav-content li.active-parent a,
.ui-tabs-nav li.ui-tabs-selected a {
  background-position: 100% -1200px;
}

#nav-masthead li a {
  background-position: 100% -800px;
}

#nav-masthead li {
  background-position: 0 -900px;
}

#nav-masthead li.active a,
#nav-masthead li:hover a {
  background-position: 100% -1000px;
}

#nav-masthead li.active,
#nav-masthead li:hover {
  background-position: 0 -1100px;
}

#front-drupal-stats {
  background-position: 0 -537px;
}

.image-tags span {
  background-position: 0 -224px;
}

.image-tags a {
  background-position: 100% -192px;
}

.feature-tags span {
  background-position: 0 -288px;
}

.feature-tags a {
  background-position: 100% -256px;
}

.sticky .image-tags span {
  background-position: 0 -352px;
}

.sticky .image-tags a {
  background-position: 100% -320px;
}

.drupalorg-site-association #site-name a {
  background-image: url(../images/sprites-association.png);
  background-position: 0 0;
  width: 404px;
}
