/**
 * @file
 * Table styles
 *
 * Colour reference based on Mark Boulton Prototypes
 * https://infrastructure.drupal.org/drupal.org-style-guide/page_furniture.html
 * Based on photoshop download &
 * https://infrastructure.drupal.org/drupal.org-style-guide/prototype/jobs.html
 *
 * th background-color: #EAEAE1
 * td odd row background-color: #FFFFFF
 * td even row background-color: #FAFAF0
 * td bottom-border 1px solid: #EAEAE1
 * th active (sorted by) background-color: #D7D7C7
 * td active (sorted by) odd row background-color: #EAEAE1
 * td active (sorted by) even row background-color: #E5E5D4
 *
 * Project table (Official releases):
 * th background-color: #EAEAE1
 * td odd & even rows background-color: #F9FFEC
 * td bottom-border 1px solid #EAEAE1
 *
 * Project table (Development snapshot):
 * th background-color: #EAEAE1
 * td: odd & even row background-color: #F6E8E8
 * td: bottom-border 1px solid #EBCCCC
 */
 
table {
  margin-bottom: 0.5em;
}

thead th {
  border-bottom: 0;
  padding: 0.25em 0.5em;
}

th,
td {
  padding: 0.25em 0.5em;
}

th {
  background: #eaeae1;
  font-weight: bold;
}

th span.sort-header {
  float: left;
}

.table-sort-asc,
.table-sort-desc {
  padding: 0 14px 0 0;
}

.table-sort-asc {
  background: transparent url(../images/small-icons.png) no-repeat;
  background-position: right -636px;
} /*@todo: moved to sprites.css*/

.table-sort-desc {
  background: transparent url(../images/small-icons.png) no-repeat;
  background-position: right -600px;
} /*@todo: moved to sprites.css*/

th a,
th a:link,
th a:visited {
  color: #222;
}

th.active {
  background: #d7d7c7;
}

tr.even td.active {
  background: #e5e5d4;
  border-bottom: 1px solid #D7D7C7;
  border-top: 1px solid #D7D7C7;
}

tr.odd td.active {
  background: #eaeae1;
}

tr.even {
  background: #EEEEE0;
  border-bottom: 1px solid #D8D8D2;
  border-top: 1px solid #D8D8D2;
  position: relative;
}

tr.odd {
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #D8D8D2;
  position: relative;
}

/**
 * Forum
 */
#forum td > td {
  border: 1px solid #f0f;
}

#forum ul {
  padding: 0;
}

#forum .forum.first.last a { /*@todo:  move to the sprites;*/
  background: transparent url(../images/small-icons.png) no-repeat;
  background-position: 0 -415px;
  padding-left: 15px;
}

#forum tr td.container {
  padding-left: 10px;
}

#forum tr td.container .name {
  background: transparent url(../images/small-icons.png) no-repeat;
  background-position: 0 3px; /*@todo: fix sprites here ;*/
  padding: 0px 0 5px 20px;
  min-width: 20px;  /* IE7 hack */
}

#forum div.indent {
  margin-left: 30px;
}

#forum tr td.forum {
  background: none;
  padding: 0.25em 0.5em;
}

#forum tr td.forum .name {
  background: transparent url(../images/small-icons.png) no-repeat;
  background-position: 0 -155px; /*@todo:fix sprites here ;*/
  min-width: 20px;  /* IE7 hack */
}
#forum tr td.forum .name,
#forum .description {
  margin: 0;
  padding: 0 0 0 20px;
}

td.icon {
  margin: 5px 0 0 0;
}

.icon16 {
  width: 16px;
  height: 16px;
  display: block;
}

.forum-default,
.forum-hot {
  background: transparent url(../images/small-icons.png) no-repeat;
  background-position: 0 -155px;
}

.forum-hot-new,
.forum-new {
  background: transparent url(../images/small-icons.png) no-repeat;
  background-position: 0 -410px;
}

.forum-closed {
  background: transparent url(../images/small-icons.png) no-repeat;
  background-position: 0 -380px;
}

.forum-sticky {
  background: transparent url(../images/small-icons.png) no-repeat;
  background-position: 0 5px;
}

/**
 * Project Releases Tables
 */
table.releases tr.ok td {
  background-color: #F9FFEC;
  border-bottom: 1px solid #EAEAE1;
}

table.releases tr.release-dev td {
  background-color: #F6E8E8;
  border-bottom: 1px solid #EBCCCC;
}

table.releases td {
  vertical-align: middle;
}

#content table.releases td ul.links {
  margin: 0;
  padding: 0;
}

table.releases td.release-icon {
  padding: 0 5px;
  vertical-align: middle;
}

table.releases td.release-icon img {
  display: block;
}

/*
 * Project Issues table
 */
table.project-issue td {

}

table tr.notrecommended td {
  background: #F6E8E8;
  border-bottom: 1px solid #EBCCCC;
}
