/**
 * @file
 * Typographic styles
 *
 * DO NOT ADD ANYTHING TO THIS FILE!
 */

/**
 * Colors
 * 
 * http://infrastructure.drupal.org/drupal.org-style-guide/colour.html
 * 
 * -------------------------------------
 * Primary colors
 * -------------------------------------
 * Dark Blue #0678BE rgb(6,120,190)
 * Dark Blue 50% #83BCDE
 * Dark Blue 40% #9CC9E5
 * Dark Blue 30% #B4D7EB
 * Dark Blue 20% #CDE4F2 rgb(205,228,242)
 * 
 * Light Blue #53B0EB rgb(83,176,235)
 * 
 * Lime Green #96BC44 rgb(150,188,68)
 * 
 * -------------------------------------
 * Secondary colors
 * -------------------------------------
 * Navy Blue #064771 rgb(6,71,113)
 * Light Navy Blue #0D7DC1 rgb(13,125,193)
 * Light Navy Blue 50% #9ECBE6 rgb(158,203,230)
 * 
 * Pale Yellow #F6F6F2 rgb(246,246,242)
 * Light Yellow #E6FCB6 rgb(230,252,182)
 * 
 * Gray #9D9D93 rgb(157,157,147)
 * Black #000 rgb(0,0,0)
 * 
 * -------------------------------------
 * Not officially listed, but found prototypes
 * -------------------------------------
 * Yellow/Green (border, th bg) #EAEAE1
 * Yellow/Green (background) #F9FFEC
 * 
 * Light Red (border) #EBCCCC
 * Light Red (background) #F6E8E8
 * 
 * -------------------------------------
 * Typography
 * -------------------------------------
 * Gray body text #222
 * Header h1 #000
 * Gray headers h2-h4 #555
 * Gray headers h5-6 #222
 * Blue links #0678BE
 * 
 * -------------------------------------
 * Colors not specified in style guide
 * -------------------------------------
 * Gray #666
 * Gray #nav-content border #E1E1DB
 * 
 * Blue #nav-header BG #044771
 * 
 * -------------------------------------
 * Help, status, and messages
 * -------------------------------------
 * Help:
 * Blue: Dark Blue 20%
 * 
 * Status, success, OK:
 * Green: rgb(212,239,204) NOT PART OF PALETTE
 * 
 * Warning:
 * Yellow: Light Yellow
 * 
 * Error, fail:
 * Red: Light Red (border)
 * 
 * Asterisk:
 * Orange: rgb(227,144,27) NOT PART OF PALETTE
 */

/**
 * Typography
 *
 * Based at 13 / 18
 * http://www.alistapart.com/articles/howtosizetextincss
 */
body {
  color: #222;
  background-color: #fff;
  font-size: 0.8125em; /* 16px x .8125 = 13px */
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  line-height: 1.384615em; /* 13px x 1.384615 = 18px  */
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  /*
    Most of the body fonts defined above look pretty bad at larger sizes,
    so we force Helvetica/Arial here.
  */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em; /* @todo: improve line-height for all headers */
}

h1,
.h1 {
  color: #000;
  font-size: 2em;
  font-weight: normal;
  line-height: 1.385em;
  margin: 0 0 0.692em;
}

#aggregator .feed-item-title,
h2,
.h2 {
  font-size: 1.615em; /* * 13px = 21px */
  line-height: 1.286em; /* * 21px = 27px  */
  margin: 0.619em 0 0.238em;
}
.block h2 {
  margin-top: 0;
}

#profile .name,
h3,
.h3 {
  font-size: 1.385em; /* * 13px = 18px */
  line-height: 1em; /* * 18px = 18px */
  margin: 1em 0 0.5em;
}
h3.top { /* For the top of columns */
  margin-top: 0;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 { 
  color: #000;
  font-size: 1em; /* 1 * 13  = 13 */ /* @todo: distinguish h4/h5/h6 better */
  line-height: 1.385em;
  font-weight: bold;
}

#content h4,
#content .h4,
#content h5,
#content .h5,
#content h6,
#content .h6 {
  margin: 0.5em 0 0.166667em;
}

p {
  margin-bottom: 0.692em;
}

a,
a:link,
a:visited,
a:active {
  color: #0678BE;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #0678BE;
  text-decoration: underline;
}

code,
tt,
pre {
  background-color: #F6F6F2;
  font-family: "Bitstream Vera Sans Mono", Monaco, "Lucida Console", monospace;
  font-size: 0.9230em; /* 0.9230 * 13px = 12px */
  padding: 1px;
  white-space: pre-wrap;
}

strong,
b {
  font-weight: bold;
}

em, 
i {
  font-weight: italic;
}
