.aboutsmall {
  color: nth($greys, 1);
  font-size: 0.92307em; // 0.92307 * 13px = 12px
  
  #content & {
    ul {
      list-style: none;
    }
  }
  
  h3 {
    border-top: 1px solid nth($greys, 2);
  }
  
  strong,
  dt {
    color: nth($greys, 1);
  }
}