/**
 * Community & Support
 * Ads
 */
#page .block-google_admanager {
  background-color: #f6f6f2;
  line-height: inherit;
}
.gam-holder {
  margin: 0;
}
.view-drupalorg-marketplace-hosting .gam-holder .text { /* http://drupal.org/hosting */
  margin: 0 0 1.385em 0;
}
.view-drupalorg-marketplace-hosting .Silver {
  font-size: 1.077em;
  font-weight: bold;
}
.gam-prefix,
.gam-suffix {
  padding: 12px;
}
.gam-suffix {
  color: #666;
  font-size: 0.92307em; /* 0.92307 * 13px = 12px */
}
.gam-suffix a {
  color: #000;
}

.gam-holder .text {
  background-color: #f6f6f2;
  width: 274px;
  line-height: 1.5em;
  padding: 13px;
}

.gam-holder .text a {
  font-weight: bold;
}

#aside .block-google_admanager {
  margin: 12px 0 12px 0;
}
#aside .block-google_admanager .block-inner {
  padding: 0;
}
