/**
 * Community & Support
 * Drupal Association
 */

/* Association membership benefits */
.big {
  font-size: 1.385em; /* 18 / 13 */
  line-height: 1.5em;
}

/* Association store */
.uc-price-display {
  text-align: right;
  font-size: 1em;
  font-weight: normal;
  padding: 0;
}
.field-field-assoc-level-notes {
  font-style: italic;
}

fieldset {
  border: 1px solid #ddd;
  padding: 0.692em;
  margin: 0 0 1.384em 0;
}
legend {
  padding: 0 0.25em;
}

/* Ubercart has too many borders. */
.solid-border,
.cart-review,
#cart-form-buttons,
#cart-form-products,
#checkout-form-bottom {
  padding: 0;
  border: none;
}

.node-type-association_sponsorship_level.diamond,
.node-type-association_sponsorship_level.platinum,
.node-type-association_sponsorship_level.gold,
.node-type-association_sponsorship_level.silver,
.node-type-association_sponsorship_level.bronze {
  background: #f6f6f2;
  padding: 1em;
}
.node-type-association_sponsorship_level.diamond h2,
.node-type-association_sponsorship_level.platinum h2,
.node-type-association_sponsorship_level.gold h2,
.node-type-association_sponsorship_level.silver h2,
.node-type-association_sponsorship_level.bronze h2 {
  margin-top: 0;
}

.jcarousel-clip {
  overflow: hidden;
}
