/**
 * Community & Support
 * Books Ad
 */
#block-google_admanager-89caa04f148acdc52719b3d001e487c4 .gam-prefix h3 {
  margin-top: 0;
}
#block-google_admanager-89caa04f148acdc52719b3d001e487c4 .gam-prefix p {
  margin-bottom: 0;
}
#google_ads_div_Security_books_ad_container img,
#google_ads_div_Redesign_books_ad_container img {
  padding: 0 12px;
}
