/* Are we celebrating? */
/* nope :(
.front #header-screen {
  background: url(../images/fireworks.png) 5% 0 no-repeat;
}
*/
.link-button span.celebrating {
  display: inline-block;
  margin-left: -1em;
  padding: 0 0 0 1em;
  background: url(../images/fireworks-link-button.png) 0 0 no-repeat;
}

.color-swatch {
  width: 140px;
  height: 6.923em;
}
