/**
 * Community & Support
 * Front page
 */
.front-current-activity {
  float: left;
  margin-bottom: 1.385em;
}
.front-current-activity:first-child {
  margin-right: 1.5em;
}
.front-current-activity td {
  padding: 0;
  white-space: nowrap;
}
.front-current-activity td:first-child {
  text-align: right;
  padding-right: 0.4em;
}
.front-current-activity th {
  background: transparent;
  font-weight: normal;
  border-bottom: none;
  padding: 0;
}
body.front .gam-holder {
  margin: 1.385em 0 0 0;
}
