/**
 * Community & Support
 * Getting Invoved
 */
.view-drupalorg-community-spotlight.view-display-id-block_1 .node-footer .links {
  display: block;
}
.view-drupalorg-community-spotlight.view-display-id-block_1 .node-footer .separator {
  display: none;
}
#block-drupalorg_search-drupalorg_search_users form,
#block-drupalorg_search-drupalorg_search_users .form-item {
  margin: 0;
}
#block-drupalorg_search-drupalorg_search_users .form-text {
  width: 150px;
}
