/**
 * Community & Support
 * Marketplace
 */
.view-drupalorg-organizations .view-header h3 {
  margin-top: 0;
}
#content .view-drupalorg-organizations .view-header ul {
  padding-left: 0;
  list-style-type: none;
}
/* hide JS actions */
.view-drupalorg-organizations .view-header .show-link,
.view-drupalorg-organizations .view-header .hide-link {
  display: none;
}
.node-type-organization .website img {
  display: block;
}
#block-drupalorg_handbook-about-page dd,
#content .node-type-organization dd {
  padding-left: 0;
}
