/**
 * Community & Support
 * Search Results
 */
#edit-search-term-results p.help-result-text {
  font-weight: bold;
  margin-left: 10px;
}

#edit-search-term-results ul {
  list-style-type: none;
  margin: 0 0 5px 0;
  padding: 0;
}

#edit-search-term-results ul a {
  font-weight: bold;
}

/* selector and colors for the search score when ready
#edit-search-term-results li .help-result-score-X
  background-color: #6ab939;
  background-color: #F18322;
  background-color: #AD0F1E;
*/

#edit-search-term-results li .help-result-value {
  border-top: 1px solid #E1E1DB;
  line-height: 2em;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 10px;
}

#recent-activity ul {
  margin-left: 0;
  padding-left: 0;
}

