.aboutsmall {
  #content & {
    ul {
      margin-bottom: 1.5em;
      padding-left: 0;
    }
  }
  
  dd {
    padding-left: 0;
  }
  
  h3 {
    margin-top: 1em;
    padding-top: 1em;
  }
  
  .link-button {
    float: left;
    margin: 1em 0;
  }
}