/**
 * About page
 */
#about-features h3 {
  font: bold 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

#about-features h3 a {
  display: block;
  padding: 4px 0 0 70px;
  min-height: 50px;
}

.node-section {
  border-bottom: 1px solid #D8D8D2;
  padding-bottom: 0.692em;
}
.comment {
  margin-top: 0.692em;
  border-top: 1px solid #D8D8D2;
}

.node-footer-section h3 {
  margin: 1em 0 .5em;
}

.aboutsmall {
  color: #555;
  font-size: 0.92307em; /* 0.92307 * 13px = 12px */
}

#content .aboutsmall ul {
  list-style: none;
  margin-bottom: 1.5em;
  padding-left: 0;
}

.aboutsmall dd {
  padding-left: 0;
}

.aboutsmall h3 {
  border-top: 1px solid #DDD;
  margin-top: 1em;
  padding-top: 1em;
}

.aboutsmall .link-button {
  float: left;
  margin: 1em 0;
}

.aboutsmall strong,
.aboutsmall dt {
  color: #555;
}
