/**
 * Blocks
 */
#aside .block {
  background: #F6F6F2;
}

#aside .block-inner {
  padding: 1em;
}

.profile .item-list li,
#aside .block .item-list li,
#homebox .block .menu li,
#homebox .block .item-list li {
  line-height: 1.2em;
  margin: 0 0 0.6em 0;
  padding: 0;
  list-style-image: none;
}

.front .block-content h4 {
  clear: both;
  font-weight: bold;
}

.front-get-started {
  border: 1px solid #DDD;
  border-width: 1px 0;
  padding: 20px 0;
  text-align: center;
}

/* For giant numbers, such as the Association’s campaign block. */
.giant {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 5.538em; /* × 13 = 72px */
  line-height: 1.25em; /* × 72 = 90px, 5 lines */
  text-align: center;
}

.front #content ul {
  list-style: none;
  padding-left: 0;
}

#front-drupal-stats {
  margin-top: 1.846em;
  height: 6.923461em; /* 72px */
  padding: 1.385em 0 0 64px;
}

#front-drupal-stats .inner  {
  border-top: 1px solid #EEE;
  color: #9D9D93;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.846em; /* 13px = 24px */
  font-weight: lighter;
  line-height: 1.5em;
  padding-top: 5px;
  padding-left: 16px;
}
#front-drupal-stats em {
  font-style: normal;
  color: #55554A;
}

/* project page blocks */
#block-project-5 p.date {
  color: #666;
  font-size: 0.92307em; /* 0.92307 * 13px = 12px */
}

/* Project page issues edit */
tr.odd .form-item,
tr.even .form-item {
  display: inline-block;
}
