/**
 * Book pages
 */
.book-navigation {
  clear: both;
}
.book-navigation ul.menu,
.block .book-navigation ul.menu {
  border-top: 1px solid #E1E1DB;
  display: block;
  padding: 1em 0 0 3em;
}
.book-navigation .page-links {
  border-top: 1px solid #E1E1DB;
  border-bottom: 1px solid #E1E1DB;
  margin-bottom: 20px;
}
