/**
 * Comments
 */
.node-type-project-issue .comment-inner {
  margin-left: 40px;
}

.node-type-project-issue #content h3.comment-title {
  float: left;
  font-size: 1.1538em;
  margin-left: -40px;
}

.node-type-project-issue #content .comment .submitted {
  padding-top: 1.4em;
}

.node-type-project-issue #content .comment .submitted a {
  font-size: 1.2307em;
}

.comment .new {
  background-color: #E6FCB6;
  padding: 1px 6px 2px;
}

.comment .picture {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.comment-with-picture .content {

}

.node .picture {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.indented {
  margin-left: 30px;
}

.indented .indented .indented .indented {/* stop indenting comments after four levels of indention */
  margin-left: 0;
}
