/**
 * Content
 */
#content ul, #tinymce ul,
ol,
dd {
  margin-bottom: 0.692em;
  padding-left: 2em; /* @todo: List items align, but bullets and numbers do not */
}
dl.flush-left dd {
  padding-left: 0;
}
#content [dir=rtl] ul,
[dir=rtl] ol {
  padding-left: 0;
  padding-right: 2em;
}
ol {
  list-style: decimal outside;
}
.block ol {
  list-style: none;
  padding-left: 0;
}
#content .profile ul,
#homebox ul,
#homebox ol {
  margin-bottom: 0;
  padding-left: 0;
}

#content ul, #tinymce ul {
  list-style-type: disc;
}

#content .item-list ul.flat,
#content .item-list ul.links,
#content .item-list ul.flat li,
#content .item-list ul.links li,
#content ul.flat,
#content ul.links,
#content ul.flat li,
#content ul.links li {
  list-style-type: none;
  list-style-image: none;
  margin-left: 0;
  padding-left: 0;
}

#content .node,
#aggregator .feed-item {
  margin-bottom: 1.385em; /* * 13 = 18px */
}

#content .sticky {
  background-color: #F6F6F2;
  padding: 10px;
}
#content .sticky h2.node-title {
  margin-top: 0;
}

#content .comment h3.comment-title {
  word-spacing: 0.2em;
  color: #888;
  margin-bottom: 0;
}
#content .comment h3.comment-title a {
  word-spacing: normal;
}

#content .submitted,
#content .modified,
#aggregator .feed-item-meta,
#content .comment .links {
  color: #666;
  font-size: 0.923em; /* 0.92307 * 13px = 12px */
  line-height: 1.5em; /* * 12px = 18px */
  margin-bottom: 0.75em;
}
#content .comment .links {
  float: right;
}

#aggregator .feed-item-date {
  font-style: italic;
}

body.page-node #content .tabs {
  float: right;
}

body.page-node #content .tabs ul.tabs li {
  float: left;
  display: block;
  font-size: 0.92307em; /* 0.92307 * 13px = 12px */
  margin: 0 5px;
  padding: 1px 4px;
  text-decoration: none;
}

body.page-node #content .tabs ul.tabs li.active {
  display: none;
}

.feed-source,
#content .node-footer,
#aggregator .feed-item-categories,
.user-signature,
.field-field-assoc-benefit-restrictions,
#block-drupalorg_handbook-license {
  color: #666;
  font-size: 0.92307em; /* 0.92307 * 13px = 12px */
}

#block-drupalorg_handbook-meta-sidebar .page-status {
  padding: 0.692em;
}
#block-drupalorg_handbook-meta-sidebar .page-ok {
  background-color: #D4EFCC;
}
#block-drupalorg_handbook-meta-sidebar .page-needs-work {
  background-color: #FFE69F;
}
#block-drupalorg_handbook-meta-sidebar .page-major-problem {
  background-color: #EBCCCC;
}
