/**
 * CVS lists
 */
#cvs ul {
  margin: 0 0 0.5em 0;
  padding: 0;
}

#cvs ul,
#cvs li {
  list-style: none;
}

#cvs li div.title {
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; /* 1 * 13  = 13 */
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

#cvs li div.files {
  margin: 0 0 0.5em 0;
}

#cvs li div.description {
  border-bottom: 1px solid #E1E1DB;
  margin: 0 0 2em 0;
  padding: 0 0 1em 0;
}

/* CVS Maintainers block */
#block-versioncontrol_project-project_maintainers div.vc-commit-times,
#block-cvs-cvs_project_maintainers div.cvs-commit-times {
  color: #666;
  font-size: 0.92307em; /* 0.92307 * 13px = 12px */
  margin-bottom: 0.5em;
}

#block-versioncontrol_project-project_maintainers span.vc-commits,
#block-cvs-cvs_project_maintainers span.cvs-commits {
  white-space: nowrap;
}

/* adding back padding removed in reset.css for menu blocks */
.block ul.menu {
  padding: 0 0 0.25em 1em;
}

#block-user-1 .h2 {
  overflow: hidden;
}
