/**
 * Dashboard overrides
 */
#homebox .homebox-column {
  background: none;
  margin: 0;
  padding: 0;
}

#homebox .homebox-portlet {
  border: 0;
  margin: 0 0 20px;
}

#homebox .homebox-placeholder {
  margin: 0 0 14px;
}

#homebox .homebox-portlet .homebox-portlet-inner {
  background-color: #F6F6F2;
  border: 0;
}

#homebox .portlet-config {
  padding: 0 10px 10px;
}

#homebox .portlet-content {
  padding: 10px;
}

#homebox .homebox-portlet .portlet-header {
  background: none;
  font-size: 1.38461em;  /* 1.38461 * 13 = 18px */
  padding: 10px 10px 8px;
}

#homebox .homebox-portlet .portlet-minus,
#homebox .homebox-portlet .portlet-maximize {
  display: none;
}

#homebox .homebox-portlet .portlet-icon {
  margin-top: 4px;
  margin-left: 4px;
}

#homebox-buttons,
#homebox-add {
  margin-bottom: 10px;
}

#homebox-add a.restore {
  display: inline;
  height: auto;
  padding: 0;
  width: auto;
}

#drupalorg-set-home a,
html.js #drupalorg-set-home input {
  display: none;
}

html.js #drupalorg-set-home a {
  display: inline;
}

#drupalorg-set-home .ahah-progress {
  float: right;
}
