/**
 * Definition lists
 */
dl {
  margin-bottom: 0.692em;
}
dt {
  font-weight: bold;
  margin: 0.692em 0 0;
}

dl.documentation {
  margin-bottom: 0;
}
dl.documentation dt {
  font-size: 1.23076em; /* 1.23076 * 13 = 16px */
  margin-top: 0.563em;
}
