/**
 * HTML elements
 */
blockquote {
  background: #fff url('../images/blockquote-66.png') no-repeat 0 0;
  margin: 1.384em 40px 1.384em 20px;
  padding-left: 30px;
}
acronym {
  border-bottom: 1px dotted #666;
}
sub {
  font-size: 0.923em; /* * 13 = 12pt */
  text-align: sub;
}
small {
  font-size: 0.923em; /* * 13 = 12pt */
}
