/**
 * Footer
 */
#footer {
  background-color: #F6F6F2;
  font-size: 0.92307em; /* 0.92307 * 13px = 12px */
  line-height: 1.5em;
  padding: 30px 0 20px;
}

#footer-region li.first a {
  color: #222;
}

#footer-region a,
#footer-region .grid-footer:hover li.first a,
#footer-region li.first a:hover {
  color: #0678BE;
}

#block-block-60,
.region-footer .block {
  border-top: 1px solid #E2E2DF;
  margin-top: 50px;
  padding-top: 10px;
}

#block-block-60 .block-inner,
.region-footer .block .block-inner {
  color: #666;
  text-align: center;
}
