/**
 * Forms
 */

/* Keep form elements on the baseline grid. */
input[type="checkbox"],
input[type="radio"] {
  margin: 0 0.5ex;
}
.form-item,
.form-checkboxes,
.form-radios {
  margin-top: 0;
  margin-bottom: 0.692em;
}
.form-checkboxes .form-item,
.form-radios .form-item {
  margin: 0.25em 0;
}
