/**
 * Framework
 */
#column-left {
  z-index: 1;
}
#content-top-region,
#content,
#content-bottom-region,
#aside-region {
  margin-bottom: 13px;
}

#header,
#footer,
#page {
  min-width: 960px;
}

#header {
  background-color: #56B3E6;
}

#header-content {
  position: relative;
  z-index: 2;
  /* overflow: hidden; */ /* @todo: don't think we can do this here. it cuts off a few pixels of text on the left side */
}
