/**
 * Front page
 */
.front #page {
  margin-top: 1.385em;
}
#organization-map,
.homepage-map {
  position: relative;
}
.homepage-map {
  background: url(../images/world-map.png);
  height: 250px;
  width: 450px;
  white-space: nowrap;
}
#organization-map {
  background: url(../images/world-map-4.png);
  width: 300px;
  height: 152px;
}
#organization-map .pin,
.homepage-map .homepage-pin {
  position: absolute;
  width: 10px;
  height: 10px;
  margin: 0 0 -5px -5px;
}
.homepage-map .homepage-pin {
  display: none;
}
#organization-map .latitude,
#organization-map .longitude,
.homepage-map .latitude,
.homepage-map .longitude {
  display: none;
}
.homepage-map .homepage-pin .content {
  background: #fff;
  position: absolute;
  border: 1px solid #bfbfba;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 1px 4px;
  bottom: 11px;
}
.homepage-map .homepage-pin-east .content {
  right: -40px;
}
.homepage-map .homepage-pin-west .content {
  left: -40px;
}
.homepage-map .homepage-pin .content:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 12px;
  height: 10px;
  bottom: -10px;
  background: url(../images/small-icons.png) no-repeat 0 -734px;
}
.homepage-map .homepage-pin-east .content:after {
  right: 39px;
}
.homepage-map .homepage-pin-west .content:after {
  left: 37px;
}
.homepage-map .drupalcon a {
  font-weight: bold;
  color: #15499f;
}
