/**
 * Graphical tags
 *
 * Wraps tags in rounded corners.
 * Used in source sites tags on the news page, feature tags, etc.
 * 
 * Tags should be inline and wrapped like this:
 * 
 * <span class="image-tags">
 * <span><a href="#">Tag</a></span>
 * </span>
 * 
 * The tags can have any color; make sure to give the
 * second span the background-color you want
 */
.image-tags span {
  background-color: #49A9E4;
  display: inline-block;
  font-size: .6em;
  line-height: 18px;
  padding-left: 4px;
}

.image-tags span a {
  color: #FFF;
  display: inline-block;
  line-height: 18px;
  padding-right: 4px;
}

.source-tags .source-tag-688 {/* Planet Drupal */
  background-color: #9FCA44;
}

.source-tags .source-tag-689 {/* Drupal Association */
  background-color: #EEE;
}

.source-tags .source-tag-689 a {
  color: #666;
}

.image-tags span:hover {
  background-color: #044771;
}

.image-tags span:hover a {
  text-decoration: none;
}

.source-tags span.source-tag-688:hover {/* Planet Drupal */
  background-color: #688A1F;
}

.source-tags span.source-tag-689:hover {/* Drupal Association */
  background-color: #999;
}

.source-tags .source-tag-689 a:hover {
  color: #FFF;
}

.feature-tags span {
  background-color: #EBE3A4;
  color: #000;
}

.feature-tags span a {
  color: #000;
}

.feature-tags span:hover {
  background-color: #E9B538;
}

.feature-tags span:hover a {
  color: #FFF;
}

h2 .image-tags span {
  margin-left: 1em;
}
