/**
 * Header
 */

/* Name and logo */
h1#site-name {
  margin: 0;
}

#site-name a {
  display: block;
  height: 63px;
  overflow: hidden;
  text-indent: -999em;
  width: 181px;
}

#site-name a:focus,
#site-name a:active {
  outline: #FFF dotted thin;
}

#header-left h2 {
  color: #FFF;
  font-size: 1.6153em; /* 1.6153 * 13px = 21px */
  font-weight: lighter;
  margin: 24px 0 12px 0;
}
#header-left-inner a {
  color: #fff;
}
.standfirst {
  font-size: 1em;
  line-height: 1.538461em;
  padding-bottom: 1.538461em;
  margin-top: 0.5em;
  overflow: auto;
}

#header-right-inner {
  margin-top: 46px;
}

#page {
  margin-bottom: 2.077em;
  margin-top: 1.385em;
}

#page-subtitle {
  margin-top: 0;
}
.breadcrumb {
  padding-bottom: 0;
}

#page-tools {
  margin: 0.692em 0 0;
  float: right;
  text-align: right;
}

#page-tools li {
  display: block;
  padding: 0;
}

#page-tools a {
  color: #96BC44;
}
