/**
 * Help, status, and messages
 */
div.help,
div.messages,
div.warning {
  border: none;
  min-height: 1em; /* prevents divs from cutting off the icon (rare) */
  padding: 1em 1em 1em 3.5em;
}

div.help a,
div.messages a,
div.warning a {
  font-weight: bold;
}

/* lists may only appear in help and messages (but not sure) */
#content div.help ul,
#content div.messages ul {
  margin-bottom: 1em;
  margin-left: 0;
  padding: 0;
}

#content div.help ul li,
#content div.messages ul li {
  margin-bottom: .25em;
}

div.help {
  background: rgb(205,228,242) url(../images/icon-help.gif) 10px 14px no-repeat; /* Dark Blue 20% */ /* @todo: standardize color, change graphic, add sprite */
  margin-bottom: 20px;
}

div.help ul li {
  list-style-image: url(../images/bullet-dot-blue.png); /* @todo: change graphic, add sprite */
}

div.more-help-link {
  margin-bottom: .5em;
}
