/**
 * Issues queue
 */

/* reset - theme the td's instead of tr's for reliability */
body .project-issue tr.odd,
body .project-issue tr.even
{
  background: none;
  border: none;
}

/* reset borders from collapsed */
table {
  border-collapse: separate;
}

/* default state, override where required */
.project-issue tr td,
.project-issue tr td.active {
  background-color: #F9F9F9;
  border-bottom: 1px solid #D8D8D2;
  border-top: 2px solid #CCC;
}

.project-issue tr td.active {
  background-color: #FFF;
  border-top: 2px solid #939393;
}

/* target the td's rather than tr's */
.project-issue tr.state-1 td {
  background-color: #F9F9F9;
  border-top: 2px solid #ccc;
}

.project-issue tr.state-1 td.active {
  background-color: #FFF;
  border-top: 2px solid #939393;
}

.project-issue tr.state-2 td {
  background-color: #D7FFD8;
  border-top: 2px solid #A8FF98;
}

.project-issue tr.state-2 td.active {
  background-color: #EDFFEC;
  border-top: 2px solid #96bc44;
}

.project-issue tr.state-3 td,
.project-issue tr.state-4 td,
.project-issue tr.state-5 td,
.project-issue tr.state-6 td,
.project-issue tr.state-16 td
{
  background-color: #EFF1FE;
  border-top: 2px solid #B5C4FE;
}

.project-issue tr.state-3 td.active, 
.project-issue tr.state-4 td.active, 
.project-issue tr.state-5 td.active, 
.project-issue tr.state-6 td.active,
.project-issue tr.state-16 td.active
{
  background-color: #F2F4FE;
  border-top: 2px solid #4988FE;
}

.project-issue tr.state-7 td,
.project-issue tr.state-18 td
{
  background-color: #FDDDDD;
  border-top: 2px solid #FC8596;
}

.project-issue tr.state-7 td.active,
.project-issue tr.state-18 td.active
{
  background-color: #FDEBED;
  border-top: 2px solid #FC2843;
}

.project-issue tr.state-8 td {
  background-color: #FFFFDD;
  border-top: 2px solid #FFCF73;
}

.project-issue tr.state-8 td.active {
  background-color: #FEFFEC;
  border-top: 2px solid #FFB404;
}

.project-issue tr.state-13 td {
  background-color: #FFECE8;
  border-top: 2px solid #FFDCCD;
}

.project-issue tr.state-13 td.active {
  background-color: #FFF6F6;
  border-top: 2px solid #FFBCA4;
}

.project-issue tr.state-14 td,
.project-issue tr.state-15 td
{
  background-color: #F1FFE8;
  border-top: 2px solid #BCFFB3;
}

.project-issue tr.state-14 td.active,
.project-issue tr.state-15 td.active
{
  background-color: #F8FFF1;
  border-top: 2px solid #93FF88;
}

/* Issue Summaries */
.project-issue-last-modified {
  margin-bottom: 1.385em; /* 18px */
}
