/**
 * My issues
 */
.view-project-issue-user-issues div.project-title {
  font-weight: bold;
}

#homebox #homebox-block-views_a512ec6dea837b33a2b010c2af17ed85 .portlet-content {
  padding: 0;
}

#homebox .homebox-portlet .view-project-issue-user-issues .more-link {
  padding: 0px 10px 10px 0px;
}

#homebox #homebox-block-views_a512ec6dea837b33a2b010c2af17ed85 th {
  display: none;
}

#homebox #homebox-block-views_a512ec6dea837b33a2b010c2af17ed85 td {
  padding: 0.25em 10px;
}
