/**
 * Issue cockpit
 */
/* Project Issues Cockpit */
#block-project_issue-issue_cockpit .block-inner,
#block-versioncontrol_project-project_maintainers .block-inner,
#block-cvs-cvs_project_maintainers .block-inner
{
  margin: 0;
}

/* set font color for the avoid duplicates text */
#block-project_issue-issue_cockpit .block-content,
#homebox-block-project_issue_issue_cockpit .portlet-content {
  color: #888;
}

/* reset font color for other elements*/
form#project-issue-issue-cockpit-searchbox,
.issue-cockpit-categories,
.issue-cockpit-subscribe,
.issue-cockpit-statistics,
.issue-cockpit-oldest
{
  color: #222;
}

form#project-issue-issue-cockpit-searchbox {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

form#project-issue-issue-cockpit-searchbox .form-item {
  float: left;
  margin: 0 10px 0.5em 0;
}

form#project-issue-issue-cockpit-searchbox a {
  clear: left;
  display: block;
}

/* header styling */
#block-project_issue-issue_cockpit .category-header,
#homebox-block-project_issue_issue_cockpit .category-header {
  color: #555;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2307em;  /* 1.2307 * 13px = 16px */
  font-weight: normal;
  margin-top: 0.5em;
}

.issue-cockpit-bug, 
.issue-cockpit-statistics {
  margin-bottom: 0.5em;
}

.issue-cockpit-oldest {
  color: #888;
}
