/**
 * Landing page elements
 */
a.all {
  font-weight: bold;
}

.narrow-box {/* Creates a padded box for columns which mostly have lists, e.g. Getting Started */
  margin-bottom:18px;
  padding: 18px;
}

.narrow-box ul {
  padding-left: 0!important;
}

.narrow-box ul li {
  list-style-type: none;
}

.narrow-box a.link-button {
  margin: 20px 0 15px 0;
}

.narrow-box a.link-button span {
  font-size: 0.92307em; /* 0.92307 * 13px = 12px */
  white-space: nowrap;
}

.narrow-box-list {
  margin-bottom: 1.5em;
}

#getting-started img {
  float: left;
}

/* action-button and all flag links should be big green boxes */
a.flag,
input.action-button,
a.action-button {
  display: inline-block;
  color: #fff;
  background: #9fc748;
  padding: 0.643em 1.5em;
  font-size: 1.077em; /* 14pt */
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
a.flag:hover,
a.flag:focus,
input.action-button:focus,
input.action-button:hover,
a.action-button:focus,
a.action-button:hover {
  text-decoration: none;
  background: #8aaf3c;
  color: #fff;
}
/* Unflag links without focus/hover want different background colors. */
a.unflag-action {
  background: #eee;
  color: #0678BE;
}
/* Force a fixed-width on flag links so the button doesn't change on hover. */
a.flag {
  width: 4.64em;
  text-align: center;
}

/* Override top margin for #content h2's on the D&E home page */
#download h2,
#content .drupal-modules-facets h2 {
  margin-top: 0;
}

/* D&E Home landing page - download core button */
#download .core ul li.download-core {
  margin-bottom: 1.5em;
}

/* D&E Home 'all' links in lists */
#content li.more a,
#content li.more a:link,
#content li.more a:visited,
#content li.more a:active,
#content li.all a,
#content li.all a:link,
#content li.all a:visited,
#content li.all a:active {
  font-weight: bold;
}

/* D&E Home 'show only modules' form */
#project-solr-version-form {
  margin-bottom: 1em;
}

#edit-drupal-core-wrapper,
#project-solr-version-form label,
#project-solr-version-form select,
#project-solr-version-form .form-submit {
  float: left;
  font-weight: normal;
  margin: 0 10px 0 0;
}

#edit-drupal-core-wrapper {
  margin-right: 0;
}

#project-solr-version-form .form-submit {
  padding: 0 3px;
}


/* link button (green button) */
a.link-button,
input[type="submit"],
button {
  color: #FFF;
  background-color: #9fc748;
  background-image: -webkit-gradient(linear, left, left bottom, color-stop(50%,#9fc748), color-stop(50%,#96bc44)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #9fc748  50%, #96bc44 50%); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #9fc748 50%, #96bc44 50%); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #9fc748  50%, #96bc44 50%); /* IE10 */
  background-image:      -o-linear-gradient(top, #9fc748 50%, #96bc44 50%); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, #9fc748  50%, #96bc44 50%);
  border: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.38461em;  /* 1.38461 * 13 = 18px */
  height: 2em;
  padding: 0 1em;
  overflow: hidden;
  text-align: center;
}

a.link-button:focus,
a.link-button:active {
  outline: #000 dotted thin;
}

a.link-button:hover {
  text-decoration: none;
}

.link-button span {
  cursor: pointer;
  display: inline-block;
  line-height: 36px;
}

input.default {
  color: #888;
}
