/**
 * Messages
 */
div.messages,
div.warning {
  margin-bottom: 10px;
}
div.messages-multiple {
  padding-bottom: 0;
  padding-left: 4.5em;
}
div.messages-status {
  background: #D4EFCC url(../images/icon-success.png) 10px 14px no-repeat;
}
div.messages-status ul li {
  list-style-image: url(../images/bullet-dot-green.png);
}
div.messages-warning,
div.warning {
  background: #FFE69F url(../images/icon-warning.gif) 10px 14px no-repeat;
}
div.messages-warning ul li {
  list-style-image: url(../images/bullet-dot-yellow.png);
}
div.messages-error {
  background: #EBCCCC url(../images/icon-error.png) 10px 14px no-repeat;
}

div.messages-error ul li {
  list-style-image: url(../images/bullet-dot-red.png);
}

/* Appears at bottom of forms */
div.warning {
  margin-top: 20px;
}

/* Asterisk */
span.warning {
  color: rgb(227,144,27); /* Orange */ /* @todo: standardize color */
  margin-left: .5em;
}

div.warning span.warning {
  display: none; /* hide asterisk inside warning div (redundant) */
}

/* Changed draggable rows (usually constains <span class="warning">) */
tr.drag-previous {
  background: #E6FCB6; /* Light Yellow */
}
