/**
 * Navigation
 */
div#page-title {
  margin-top: 1.048em; /* * 21 = 22 */
}
#nav-header {
  font-size: 0.923076em; /* 12px */
}

#nav-header ul {
  background: #064771; /* Navy Blue */
  float: right;
  padding: 0 0.75em 0 0.75em;
}

#nav-header ul li {
  float: left;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav-header ul li a {
  color: #FFF;
  display: block;
  margin: 0.333333em 0.833333em;
}

#nav-header a.home {
  float: left;
  margin-left: 0;
}

#nav-header a:hover,
#nav-header a:focus {
  color: #A5E2FF; /* Not a standard color, matches prototype */
  text-decoration: none;
}

#nav-masthead {
  display: block;
  float: left;
  position: relative;
  z-index: 1;
}

#nav-masthead ul li {
  list-style: none;
  float: left;
  font-size: 0.923076em;  /* 12px */
  margin: 0;
  padding: 0 0.615384em; /* 8px */
}

#nav-masthead ul li a {
  color: #FFF;
  display: block;
  float: left;
  margin: 0;
/*  padding: 5px 8px 8px 0;*/
  padding: 0.416666em .75em 0.416666em 0;
  text-decoration: none;
}

#nav-masthead ul li.active a,
#nav-masthead ul li:hover a,
#nav-masthead ul li:focus a {
  color: #000;
}

#userinfo {
  float: left;
  margin: 5px 0 0 .75em;
}

#userinfo a {
  color: #FFF;
  font-size: 0.92307em;  /* 0.92307 * 13 = 12px */
  margin: 0 1em 0 0;
  text-decoration: none;
}

#nav-content ul {
  border-bottom: 1px solid #DDD; /* @todo: Double-check this color */
  float: left;
  margin-bottom: 1.154em;
  width: 100%;
}

#nav-content ul li {
  float: left;
  margin-bottom: -1px;
  padding: 4px 12px 5px 12px;
  position: relative;
}

#nav-content ul li a:hover,
#nav-content ul li a:focus,
#nav-content ul li.active-parent a {
  color: #000;
  text-decoration: none;
}

#nav-content ul li.active,
#nav-content ul li.active-parent {
  background-color: transparent;
  border: none;
}

#nav-content ul li.active a:hover,
#nav-content ul li.active a:focus {
  text-decoration: none;
}

#nav-content li.active,
#nav-content li.active-parent {
  padding: 0 0 0 0.384615em; /* 5px */
}

#nav-content li.active a.active,
#nav-content li.active-parent a {
  display: block;
  padding: 0.307692em 0.692307em 0.846153em 0.230769em;
/*  padding: 4px 9px 11px 3px;*/
}

.ui-widget {
  font-size: 1em;
  font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

.ui-tabs-nav {
  width: 100%;
  float: left;
  border: 0;
  border-bottom: 1px solid #BFBFBA; /* @todo: Double-check this color */
}

.ui-tabs-nav li {
  float: left;
  padding: 0 0 0 10px;
  position: relative;
  margin-bottom: -3px;
}

.ui-tabs-nav a {
  color: #27537A;
  display: block;
  float: left;
  height: 28px;
  padding: 6px 11px 0 0;
}

.ui-tabs-nav li.ui-tabs-selected a {
  color: #000; /* @todo: Double-check this color */
}

.ui-tabs-nav li a:hover,
.ui-tabs-nav li a:focus {
  text-decoration: none;
}

.ui-tabs-hide {
  display: none;
}

.ui-tabs-nav a:active {
  outline: none;
}

.ui-tabs-nav .icon {
  display: inline-block;
  height: 13px;
  margin-right: 3px;
  width: 11px;
}

#content .ui-tabs-panel h6 {
  margin: 0;
}
