/**
 * News page
 */
#block-drupalorg_news-news-terms .block-inner {
  padding-left: 3px;
}
#aside #block-block-40, /* Marketplace info */
#aside #block-block-42, /* Marketplace info */
#aside #block-block-46, /* Marketplace info */
#aside #block-drupalorg-drupalorg_activity,
#aside #block-drupalorg_handbook-meta-sidebar,
#aside #block-drupalorg_handbook-about-page,
#block-drupalorg_news-news-terms.block {
  background-color: #FFF;
}
#block-drupalorg_news-news-terms h2 {
  margin-bottom: .5em;
}
#block-drupalorg_news-news-terms ul.links {
  margin-left: -10px;
}
#block-drupalorg_news-news-terms ul.links li {
  display: list-item;
  margin-bottom: 4px;
}
