/**
 * Project listings search form
 */
#project-solr-browse-projects-form {
  background-color: #F6F6F2;
  margin: 0 0 20px 0;
  padding: 10px;
}

#project-solr-browse-projects-form .form-item,
#project-solr-browse-projects-form #edit-submit,
#project-solr-browse-projects-form #edit-submit-2 {
  float: none;
}

#project-solr-browse-projects-form #edit-submit,
#project-solr-browse-projects-form #edit-submit-2 {
  margin-bottom: 0;
}

#project-solr-browse-projects-form .form-item>* {
  display: inline;
}
