/**
 * Search
 */

#header input[type="text"] {
  background-color: #FFF;
  border: 3px solid #1885C8;
  color: #999;
  float: left;
  font-size: 0.92307em; /* 0.92307 * 13px = 12px */
  min-height: 18px;  /* Force IE7 and IE8 to think properly about padding */
  line-height: 1.61538em;  /* 1.61538 * 13 = 21px */
  margin: 0 5px 0 0;
  padding: 8px 10px 8px 30px;
  width: 275px;
}

#search-block-form input[type="text"] {
  color: #222;
  font-size: 1.0769em;  /* 1.0769 * 13 = 14px */
}

#header input[type="text"]:focus {
  outline: #E4E4E4 solid 2px;
}

#search-block-form h2 {
  display: none;
}

.front #search-block-form h2 {
  color: #FFF;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.61538em;  /* 1.61538 * 13 = 21px */
  margin: 0 0 .5em 0;
}

#search-theme-form-advanced {
  clear: left;
  display: none;
  float: left;
  margin-top: -3px;
  width: 275px;
}

#search-theme-form-advanced fieldset { /* @todo: remove these items if we reset fieldsets later */
  border: 0;
  line-height: 1.538461em;
  margin: 0;
  padding: 0;
}

.front #search-theme-form-advanced {
  display: block;
  margin: 9px 0 0 3px;
}

#search-theme-form-advanced {
  display: none;
}

html.js #search-theme-form-advanced {
  display: block;
}

#search-theme-form-advanced fieldset.collapsible {
  background: url(../images/search-bottom.png) 0 100% no-repeat;
  border: 0; /* @todo: remove these items if we reset fieldsets later */
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
}

#search-theme-form-advanced fieldset.collapsed {
  background: transparent;
}

#search-theme-form-advanced fieldset.collapsible .fieldset-wrapper {
  background-color: #0678BE;
  padding: 2em 10px 0;
}

#search-theme-form-advanced fieldset.collapsed .fieldset-wrapper {
  background-color: transparent;
}

#search-theme-form-advanced fieldset.collapsible .form-radios {
  border: 0;
  color: #FFF;
}

html.js #search-theme-form-advanced fieldset.collapsible .fieldset-wrapper {
  overflow: visible;
  float: left;
}

#search-theme-form-advanced legend {
  margin: 0;
  height: 1.538461em;
  line-height: 1.538461em;
}

#search-theme-form-advanced fieldset.collapsible legend {
  height: auto;
  position: absolute;
  right: 0;
  top: 4px;
}

#search-theme-form-advanced fieldset.collapsible legend a {
  color: #000;
  padding: 0 16px 0 0;
  text-decoration: none;
}

#search-theme-form-advanced fieldset.collapsible legend a:hover {
  text-decoration: underline;
}

#search-theme-form-advanced fieldset.collapsible legend a:focus {
  outline: none;
}

#search-theme-form-advanced .form-radios,
#search-theme-form-advanced .form-radios .form-item {
  margin: 0;
  float: left;
}

#search-theme-form-advanced .form-radios {
  padding-top: 0;
  width: 275px;
  position: relative;
}

#search-theme-form-advanced fieldset.collapsible .form-radios {
  width: 255px;
}

#search-theme-form-advanced .form-radios .form-item {
  min-height: 1.538461em;
  width: 135px;
}

#search-theme-form-advanced fieldset.collapsible .form-radios .form-item {
  font-size: 0.923076em;
  width: 127px;
}

#search-theme-form-advanced .form-radios .form-divider {
  float: left;
  width: 127px;
}

#search-theme-form-advanced .form-radios .form-item input {
  margin: 0;
}

#search-theme-form-advanced .form-radios label {
  color: #FFF;
}

#search-theme-form-submit {
  display: inline; /* Fixes Chrome issue */
  margin-top: 3px;
}

.page-search h1 {
  background-color: #F6F6F2;
  color: #555555;
  font-size: 1.38461em; /* 1.38461 * 13 = 18px */
  padding: 10px;
}

.page-search h1 em {
  font-style: normal;
  font-weight: bold;
}
