/* search filter form */

.page-search #project-solr-browse-projects-form {
  background: none;
  margin-bottom: 1em;
  padding: 0;
}

.page-search #project-solr-browse-projects-form label {
  font-weight: normal;
}

.page-search #drupalorg-search-sort-form {
  margin-bottom: 1em;
}

.page-search #drupalorg-search-sort-form .form-item {
  margin-top: 0;
}

.page-search #edit-solrsort-wrapper label,
.page-search #edit-solrsort-wrapper select {
  display: inline;
  font-weight: normal;
  margin: 0 10px 0 0;
}

.page-search #edit-solrsort-wrapper {
  margin-right: 0;
}

.search-results dd {
  padding-left: 0;
}

.search-results .search-info {
  color: #666;
  font-size: 0.92307em; /* 0.92307 * 13px = 12px */
}

.search-results dt {
  font-size: 1em;
}

.page-search #aside .block {
  background: none;
}

.page-search #aside .item-list ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-left: -10px;
}

.page-search #aside .item-list ul li {
  list-style-type: none;
  margin-bottom: 3px;
  margin-left: 0;
}

#block-drupalorg_news-news-terms ul.links li a,
.page-search #aside .item-list ul li a {
  color: #0678BE;
  /*padding: 2px 5px 3px 13px;*/
  padding: 0.153846em 0.384615em 0.230769em 1em;
}

.page-search #aside .item-list ul li a.selected,
.page-search #aside .item-list ul li a:hover,
#block-drupalorg_news-news-terms ul.links li a.active,
#block-drupalorg_news-news-terms ul.links li a:hover,
#block-drupalorg_news-news-terms ul.links li a:focus {
  background-color: #666;
  color: #fff;
  text-decoration: none;
}

.page-search #drupalorg-search-block-form .form-text {
  height: 1.5em;
  width: 150px;
}

.page-search #content-top-region form.drupalorgSearch-processed input[type=submit] {
  display: none;
}

