/**
 * Taxonomy terms
 */
.feed-item-categories a,
.feed-item-categories a:link,
.feed-item-categories a:visited,
.terms a,
.terms a:link,
.terms a:visited {
  background-color: #EEE;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #666;
  display: inline-block;
  margin: 3px 0;
  padding: 3px 5px;
  text-decoration: none;
}
.feed-item-categories a:hover,
.feed-item-categories a:active,
.feed-item-categories a:focus,
.terms a:hover,
.terms a:active,
.terms a:focus {
  background-color: #999;
  color: #FFF;
}

div.codeblock {
  background-color: #F6F6F2;
  margin-bottom: .5em;
}

#page ul ul li {
  margin-left: 1em;
}
