/**
 * User profiles
 */
.profile {
  clear: none;
  margin-top: 0;
  margin-bottom: 0.692em;
}
.profile.alpha {
  clear: left;
}
.profile h3 {
  border-bottom: none;
  clear: left;
}
.profile dl {
  margin: 0;
}
.profile dt {
  clear: left;
  margin: 0 10px 0 0;
}
.profile dd {
  padding: 0;
  margin-bottom: 0.692em;
}
.profile .picture {
  float: right;
  margin-top: 6px;
}
